[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mastodon-py = {editable = true, extras = ["tests"], path = "."}
pytest = "<4"
pytest-runner = "*"
pytest-cov = "*"
vcrpy = "*"
pytest-vcr = "<1"
pytest-mock = "*"
