interactions:
- request:
    body: subscription%5Bendpoint%5D=http%3A%2F%2Fhalcy.de&subscription%5Bkeys%5D%5Bp256dh%5D=BFf17EJIeSBzexXn7bM2TF3p%2FEavTdjPRkD1Esewah4R3hF0wU8aJY5uQrTorsLkTsGPaVEkHAAI1UxoM%2F%2Br9YI%3D&subscription%5Bkeys%5D%5Bauth%5D=y0tHNatR006lEHO7y8VQQw%3D%3D&policy=all&data%5Balerts%5D%5Bfollow%5D=1
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/push/subscription
  response:
    body:
      string: '{"id": 33576475, "endpoint": "http://halcy.de", "standard": false,
        "alerts": {"follow": true}, "server_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "policy": "all"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2963b421dcc11ded4a5977071e73c9f1"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '255'
      x-ratelimit-reset:
      - '2026-04-11T23:15:00.563286Z'
    status:
      code: 200
      message: OK
version: 1
