interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://icosahedron.website/api/v1/announcements
  response:
    body:
      string: '[{"id": "39", "content": "<p>Phew, sorry about this - Ubuntu briefly
        forgot how to boot and had to be manually reminded that raid exists once someone
        at Hetzner got around to attaching a KVM. We&#39;re back now, and should be
        good to not have another incident such as this until 2027, when the next major
        OS update is mandatory, at which time I will remember to ask for a KVM before
        even trying this. Apologies for the downtime to anyone in the US or awake
        late in the EU.</p>", "starts_at": null, "ends_at": null, "all_day": false,
        "published_at": "2025-07-18T23:12:46.025Z", "updated_at": "2025-07-18T23:12:46.822Z",
        "read": true, "mentions": [], "statuses": [], "tags": [], "emojis": [], "reactions":
        [{"name": "\ud83c\udf87", "count": 14, "me": false}, {"name": "linuspog",
        "count": 1, "me": false, "url": "https://icosahedron.website/system/custom_emojis/images/000/104/212/original/deac97d85b896864.png",
        "static_url": "https://icosahedron.website/system/custom_emojis/images/000/104/212/static/deac97d85b896864.png"},
        {"name": "icosan_fingerguns", "count": 2, "me": false, "url": "https://icosahedron.website/system/custom_emojis/images/000/063/035/original/189acfdb17b1d684.png",
        "static_url": "https://icosahedron.website/system/custom_emojis/images/000/063/035/static/189acfdb17b1d684.png"}]},
        {"id": "40", "content": "<p>This is likely not a surprise to anyone here,
        but to be on the safe side: There are currently scams mentions and DMs going
        around from scammers saying you need to \u201everify\u201c your mastodon account,
        or some other \u201emastodon support\u201c related thing. These are not real.
        Be cautious with the links in them, and report them when you see them.</p>",
        "starts_at": null, "ends_at": null, "all_day": false, "published_at": "2025-07-24T21:26:56.811Z",
        "updated_at": "2025-07-24T21:26:56.820Z", "read": true, "mentions": [], "statuses":
        [], "tags": [], "emojis": [], "reactions": [{"name": "\ud83d\udc4d", "count":
        7, "me": false}, {"name": "icosan_raisedbrow", "count": 1, "me": false, "url":
        "https://icosahedron.website/system/custom_emojis/images/000/123/276/original/a59400625b772cd0.png",
        "static_url": "https://icosahedron.website/system/custom_emojis/images/000/123/276/static/a59400625b772cd0.png"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"7302589c9db61250caa87f0d58da911c"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '298'
      x-ratelimit-reset:
      - '2025-08-15T20:20:00.765241Z'
    status:
      code: 200
      message: OK
version: 1
