interactions:
- request:
    body: subscription%5Bendpoint%5D=http%3A%2F%2Fhalcy.de&subscription%5Bkeys%5D%5Bp256dh%5D=BNsMe1s6LzZ2oCekx4xFGFoRKKjibZBO4%2FPHxpBaFxNtfunB9GnNLpwZJJZUPexpxfpT14PdKjvi6bK2R%2FHcrYE%3D&subscription%5Bkeys%5D%5Bauth%5D=IZkd9NbfYw6Ve9wx8%2BCBuA%3D%3D&policy=all&data%5Balerts%5D%5Bfollow%5D=1
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/push/subscription
  response:
    body:
      string: '{"id": 22887209, "endpoint": "http://halcy.de", "standard": false,
        "alerts": {"follow": true}, "server_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "policy": "all"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"77b0f9a5ab07df57bab387b197f63c9f"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '281'
      x-ratelimit-reset:
      - '2025-02-14T15:40:00.022673Z'
    status:
      code: 200
      message: OK
version: 1
