interactions:
- request:
    body: status=posting+in+the+far+future&scheduled_at=2100-12-11T22%3A00%3A00%2B00%3A00
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/statuses
  response:
    body:
      string: '{"id": "191179", "scheduled_at": "2100-12-11T22:00:00.000Z", "params":
        {"text": "posting in the far future", "media_ids": null, "sensitive": null,
        "spoiler_text": null, "visibility": null, "language": null, "scheduled_at":
        null, "poll": null, "allowed_mentions": null, "idempotency": null, "with_rate_limit":
        false, "in_reply_to_id": null, "application_id": 2896467}, "media_attachments":
        []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"781f5334ddb659e8d9f6fc935988cb28"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '288'
      x-ratelimit-reset:
      - '2025-02-14T15:30:00.242914Z'
    status:
      code: 200
      message: OK
version: 1
