interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110447003454258227
  response:
    body:
      string: '{"id": "110447003454258227", "created_at": "2023-05-28T15:25:28.292Z",
        "in_reply_to_id": "110447001287656894", "in_reply_to_account_id": "43", "sensitive":
        true, "spoiler_text": "", "visibility": "private", "language": "de", "uri":
        "https://mastodon.social/users/halcy/statuses/110447003454258227", "url":
        "https://mastodon.social/@halcy/110447003454258227", "replies_count": 0, "reblogs_count":
        0, "favourites_count": 0, "edited_at": null, "favourited": false, "reblogged":
        false, "muted": false, "bookmarked": false, "pinned": false, "content": "<p>image
        post</p>", "filtered": [], "reblog": null, "application": {"name": "Web",
        "website": null}, "account": {"id": "43", "username": "halcy", "acct": "halcy",
        "display_name": "autumnal halcy", "locked": true, "bot": false, "discoverable":
        false, "indexable": false, "group": false, "created_at": "2016-03-21T00:00:00.000Z",
        "note": "<p><a href=\"https://halcy.de/\" target=\"_blank\" rel=\"nofollow
        noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a> ~ Local account.</p><p>Now
        also and possibly primarily <span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy\"
        class=\"u-url mention\">@<span>halcy</span></a></span></p>", "url": "https://mastodon.social/@halcy",
        "uri": "https://mastodon.social/users/halcy", "avatar": "https://mastodon.social/avatars/original/missing.png",
        "avatar_static": "https://mastodon.social/avatars/original/missing.png", "header":
        "https://mastodon.social/headers/original/missing.png", "header_static": "https://mastodon.social/headers/original/missing.png",
        "followers_count": 127, "following_count": 34, "statuses_count": 981, "last_status_at":
        "2025-07-18", "hide_collections": false, "noindex": false, "emojis": [{"shortcode":
        "sidekiq", "url": "https://files.mastodon.social/custom_emojis/images/000/037/182/original/7efd7097c1d613e9.png",
        "static_url": "https://files.mastodon.social/custom_emojis/images/000/037/182/static/7efd7097c1d613e9.png",
        "visible_in_picker": true}], "roles": [], "fields": [{"name": "i have a field
        now", "value": ":sidekiq:", "verified_at": null}]}, "media_attachments": [{"id":
        "110447002079181641", "type": "image", "url": "https://files.mastodon.social/media_attachments/files/110/447/002/079/181/641/original/97232afa341c291e.jpg",
        "preview_url": "https://files.mastodon.social/media_attachments/files/110/447/002/079/181/641/small/97232afa341c291e.jpg",
        "remote_url": null, "preview_remote_url": null, "text_url": null, "meta":
        {"original": {"width": 1280, "height": 720, "size": "1280x720", "aspect":
        1.7777777777777777}, "small": {"width": 640, "height": 360, "size": "640x360",
        "aspect": 1.7777777777777777}, "focus": {"x": 0.05, "y": -0.49}}, "description":
        "furry cube", "blurhash": "UvBEOP$%r9ofroa#bef$R5Wnb^ahVua#buf5"}], "mentions":
        [], "tags": [], "emojis": [], "quote": null, "card": null, "poll": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2ed3401c8dba9d1a34145a2d4d32fc54"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '237'
      x-ratelimit-reset:
      - '2025-08-15T20:20:00.044088Z'
    status:
      code: 200
      message: OK
version: 1
