interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110447998920481458
  response:
    body:
      string: '{"id": "110447998920481458", "created_at": "2023-05-28T19:38:29.000Z",
        "in_reply_to_id": null, "in_reply_to_account_id": null, "sensitive": false,
        "spoiler_text": "", "visibility": "public", "language": "en", "uri": "https://icosahedron.website/users/halcy/statuses/110447998397052646",
        "url": "https://icosahedron.website/@halcy/110447998397052646", "replies_count":
        3, "reblogs_count": 1, "favourites_count": 0, "edited_at": null, "favourited":
        false, "reblogged": false, "muted": false, "bookmarked": false, "content":
        "<p>animes</p>", "filtered": [{"filter": {"id": "202", "title": "animes",
        "context": ["home"], "expires_at": null, "filter_action": "warn"}, "keyword_matches":
        ["animes"], "status_matches": []}], "reblog": null, "account": {"id": "23972",
        "username": "halcy", "acct": "halcy@icosahedron.website", "display_name":
        "halcy\u200b:icosahedron:", "locked": false, "bot": false, "discoverable":
        true, "indexable": true, "group": false, "created_at": "2017-02-03T00:00:00.000Z",
        "note": "<p>build. your. squid.</p><p>ideal for comfortable gameplay in relaxed
        locations.</p><p>i work at, but do not speak for, microsoft.</p>", "url":
        "https://icosahedron.website/@halcy", "uri": "https://icosahedron.website/users/halcy",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "header": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "followers_count": 3351, "following_count": 505, "statuses_count": 63577,
        "last_status_at": "2025-02-14", "hide_collections": true, "emojis": [{"shortcode":
        "icosahedron", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/original/e0d448640e549b87.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/static/e0d448640e549b87.png",
        "visible_in_picker": true}], "fields": [{"name": "Web", "value": "<a href=\"https://halcy.de/\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a>", "verified_at":
        "2025-02-13T02:03:24.627+00:00"}, {"name": "Demogroup", "value": "<a href=\"https://demoscene.vc/\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"\">demoscene.vc/</span><span class=\"invisible\"></span></a>", "verified_at":
        null}, {"name": "Pronouns", "value": "He/Him", "verified_at": null}, {"name":
        "Priv", "value": "<span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy2\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy2</span></a></span>",
        "verified_at": null}]}, "media_attachments": [], "mentions": [], "tags": [],
        "emojis": [], "card": null, "poll": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e65b92aebcc4b2c2ac52eac46d3f57d2"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '290'
      x-ratelimit-reset:
      - '2025-02-14T15:30:00.690570Z'
    status:
      code: 200
      message: OK
version: 1
