interactions:
- request:
    body: subscription%5Bendpoint%5D=http%3A%2F%2Fhalcy.de&subscription%5Bkeys%5D%5Bp256dh%5D=BAAdu%2F5dsUGQTEWYEVelJmLgvDO7y9QCLn8mPV6sMC%2FePZG9NY0ZER%2Bx%2FuuXvTAKNjJBFg%2BZFF8F0J203h30bqo%3D&subscription%5Bkeys%5D%5Bauth%5D=RjRc23sQG0L1uycjxyoe5A%3D%3D&policy=all&data%5Balerts%5D%5Bfollow%5D=1
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/push/subscription
  response:
    body:
      string: '{"id": 33576476, "endpoint": "http://halcy.de", "standard": false,
        "alerts": {"follow": true}, "server_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "policy": "all"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"340e7c8db92f26eed62362084b9dc28d"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '254'
      x-ratelimit-reset:
      - '2026-04-11T23:15:00.830927Z'
    status:
      code: 200
      message: OK
version: 1
