interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/accounts/23972
  response:
    body:
      string: '{"id": "23972", "username": "halcy", "acct": "halcy@icosahedron.website",
        "display_name": "halcy\u200b :icosahedron:", "locked": false, "bot": false,
        "discoverable": true, "indexable": true, "group": false, "created_at": "2017-02-03T00:00:00.000Z",
        "note": "<p>build. your. squid.</p><p>ideal for comfortable gameplay in relaxed
        locations.</p><p>i work at, but do not speak for, microsoft.</p>", "url":
        "https://icosahedron.website/@halcy", "uri": "https://icosahedron.website/users/halcy",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "header": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "followers_count": 3421, "following_count": 519, "statuses_count": 68338,
        "last_status_at": "2025-08-15", "hide_collections": true, "emojis": [{"shortcode":
        "icosahedron", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/original/e0d448640e549b87.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/static/e0d448640e549b87.png",
        "visible_in_picker": true}], "fields": [{"name": "Web", "value": "<a href=\"https://halcy.de/\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a>", "verified_at":
        "2025-08-14T22:55:32.558+00:00"}, {"name": "Demogroup", "value": "<a href=\"https://demoscene.vc/\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"\">demoscene.vc/</span><span class=\"invisible\"></span></a>", "verified_at":
        null}, {"name": "Pronouns", "value": "He/Him", "verified_at": null}, {"name":
        "Priv", "value": "<span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy2\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy2</span></a></span>",
        "verified_at": null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b13bd6b39f3eb72e162bc56732f02a56"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '267'
      x-ratelimit-reset:
      - '2025-08-15T20:20:00.196537Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/accounts/verify_credentials
  response:
    body:
      string: '{"id": "43", "username": "halcy", "acct": "halcy", "display_name":
        "autumnal halcy", "locked": true, "bot": false, "discoverable": false, "indexable":
        false, "group": false, "created_at": "2016-03-21T00:00:00.000Z", "note": "<p><a
        href=\"https://halcy.de/\" target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span
        class=\"invisible\">https://</span><span class=\"\">halcy.de/</span><span
        class=\"invisible\"></span></a> ~ Local account.</p><p>Now also and possibly
        primarily <span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy\"
        class=\"u-url mention\">@<span>halcy</span></a></span></p>", "url": "https://mastodon.social/@halcy",
        "uri": "https://mastodon.social/users/halcy", "avatar": "https://mastodon.social/avatars/original/missing.png",
        "avatar_static": "https://mastodon.social/avatars/original/missing.png", "header":
        "https://mastodon.social/headers/original/missing.png", "header_static": "https://mastodon.social/headers/original/missing.png",
        "followers_count": 127, "following_count": 34, "statuses_count": 981, "last_status_at":
        "2025-07-18", "hide_collections": false, "noindex": false, "source": {"privacy":
        "private", "sensitive": false, "language": null, "note": "https://halcy.de/
        ~ Local account.\r\n\r\nNow also and possibly primarily @halcy@icosahedron.website",
        "fields": [{"name": "i have a field now", "value": ":sidekiq:", "verified_at":
        null}], "follow_requests_count": 12, "hide_collections": false, "discoverable":
        false, "indexable": false, "attribution_domains": []}, "emojis": [{"shortcode":
        "sidekiq", "url": "https://files.mastodon.social/custom_emojis/images/000/037/182/original/7efd7097c1d613e9.png",
        "static_url": "https://files.mastodon.social/custom_emojis/images/000/037/182/static/7efd7097c1d613e9.png",
        "visible_in_picker": true}], "roles": [], "fields": [{"name": "i have a field
        now", "value": ":sidekiq:", "verified_at": null}], "role": {"id": "-99", "name":
        "", "permissions": "65536", "color": "", "highlighted": false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0da8e7a064eefa29d16c7ccf39245b98"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '266'
      x-ratelimit-reset:
      - '2025-08-15T20:20:00.444937Z'
    status:
      code: 200
      message: OK
version: 1
