interactions:
- request:
    body: subscription%5Bendpoint%5D=http%3A%2F%2Fhalcy.de&subscription%5Bkeys%5D%5Bp256dh%5D=BFpMMTY1PTOT5Pt11nnGdUyeS1EYhLehhdeImrbGMgxmWrQIGao4oy2rP5TRDpuz3uP70xh0hvBDTQZRMNam4Fw%3D&subscription%5Bkeys%5D%5Bauth%5D=abtL3Jcdki%2Fdk1HBHaQqbA%3D%3D&policy=all&data%5Balerts%5D%5Bfollow%5D=1
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/push/subscription
  response:
    body:
      string: '{"id": 26400488, "endpoint": "http://halcy.de", "standard": false,
        "alerts": {"follow": true}, "server_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "policy": "all"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9d302abc53d3dc97b28d1471c4faab89"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '298'
      x-ratelimit-reset:
      - '2025-08-15T20:35:00.360701Z'
    status:
      code: 200
      message: OK
version: 1
