interactions:
- request:
    body: subscription%5Bendpoint%5D=http%3A%2F%2Fhalcy.de&subscription%5Bkeys%5D%5Bp256dh%5D=BEMKzvgvvEqAoKUJFolJF3B6UhGrc1YUBFVx3F%2F0YSnE7VnmurYWvM4JMvNfw%2BRXQGgZWnEl%2BmCT%2FiyjP96QfcQ%3D&subscription%5Bkeys%5D%5Bauth%5D=UMh3IOsg%2BOBlZcOi1AueIw%3D%3D&policy=all&data%5Balerts%5D%5Bfollow%5D=1
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/push/subscription
  response:
    body:
      string: '{"id": 28638486, "endpoint": "http://halcy.de", "standard": false,
        "alerts": {"follow": true}, "server_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "policy": "all"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"de5e2ad47dab32fe1316533b203bd6c7"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '255'
      x-ratelimit-reset:
      - '2025-11-06T21:35:00.750410Z'
    status:
      code: 200
      message: OK
version: 1
