interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110446223051565765
  response:
    body:
      string: '{"id": "110446223051565765", "created_at": "2023-05-28T12:06:50.000Z",
        "in_reply_to_id": null, "in_reply_to_account_id": null, "sensitive": true,
        "spoiler_text": "test post for mastodon.py stuff", "visibility": "public",
        "language": "de", "uri": "https://icosahedron.website/users/halcy/statuses/110446222386355655",
        "url": "https://icosahedron.website/@halcy/110446222386355655", "replies_count":
        0, "reblogs_count": 0, "favourites_count": 1, "edited_at": "2023-05-28T12:09:44.000Z",
        "favourited": false, "reblogged": false, "muted": false, "bookmarked": false,
        "content": "<p><span class=\"h-card\"><a href=\"https://icosahedron.website/@halcy\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy</span></a></span>
        you''re a doo-doo head</p><p>edit: editing this to have the maximum amount
        of fields filled :trans_heart: <a href=\"https://icosahedron.website/tags/ThisIsAHashtag\"
        class=\"mention hashtag\" rel=\"nofollow noopener\" target=\"_blank\">#<span>ThisIsAHashtag</span></a></p>",
        "filtered": [{"filter": {"id": "202", "title": "animes", "context": ["home"],
        "expires_at": null, "filter_action": "warn"}, "keyword_matches": null, "status_matches":
        ["110446223051565765"]}], "reblog": null, "account": {"id": "23972", "username":
        "halcy", "acct": "halcy@icosahedron.website", "display_name": "halcy\u200b
        :icosahedron:", "locked": false, "bot": false, "discoverable": true, "indexable":
        true, "group": false, "created_at": "2017-02-03T00:00:00.000Z", "note": "<p>build.
        your. squid.</p><p>ideal for comfortable gameplay in relaxed locations.</p><p>i
        work at, but do not speak for, microsoft.</p>", "url": "https://icosahedron.website/@halcy",
        "uri": "https://icosahedron.website/users/halcy", "avatar": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "header": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "followers_count": 3421, "following_count": 519, "statuses_count": 68338,
        "last_status_at": "2025-08-15", "hide_collections": true, "emojis": [{"shortcode":
        "icosahedron", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/original/e0d448640e549b87.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/static/e0d448640e549b87.png",
        "visible_in_picker": true}], "fields": [{"name": "Web", "value": "<a href=\"https://halcy.de/\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a>", "verified_at":
        "2025-08-14T22:55:32.558+00:00"}, {"name": "Demogroup", "value": "<a href=\"https://demoscene.vc/\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"\">demoscene.vc/</span><span class=\"invisible\"></span></a>", "verified_at":
        null}, {"name": "Pronouns", "value": "He/Him", "verified_at": null}, {"name":
        "Priv", "value": "<span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy2\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy2</span></a></span>",
        "verified_at": null}]}, "media_attachments": [{"id": "110446234379794171",
        "type": "gifv", "url": "https://mastodon.social/media_proxy/110446234379794171/original",
        "preview_url": "https://mastodon.social/media_proxy/110446234379794171/small",
        "remote_url": "https://icosahedron.website/system/media_attachments/files/110/446/231/362/377/421/original/7011ca5f75a12487.mp4",
        "preview_remote_url": null, "text_url": null, "meta": {"focus": {"x": 0.0,
        "y": 0.0}, "original": {"width": 640, "height": 360, "frame_rate": "25/1",
        "duration": 5.76, "bitrate": 1045437}, "small": {"width": 400, "height": 225,
        "size": "400x225", "aspect": 1.7777777777777777}}, "description": "a furry
        cube breakdancing", "blurhash": "UNAm3e57kTRj0M-:Rkt7%LM|ogj?WBoyjZRk"}],
        "mentions": [{"id": "23972", "username": "halcy", "url": "https://icosahedron.website/@halcy",
        "acct": "halcy@icosahedron.website"}], "tags": [{"name": "thisisahashtag",
        "url": "https://mastodon.social/tags/thisisahashtag"}], "emojis": [{"shortcode":
        "trans_heart", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/008/320/original/3b2fccb2fb601fc2.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/008/320/static/3b2fccb2fb601fc2.png",
        "visible_in_picker": true}], "quote": null, "card": null, "poll": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"faa5eb6338a6d6f8c5d2469d11f1f40c"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '249'
      x-ratelimit-reset:
      - '2025-08-15T20:20:00.976580Z'
    status:
      code: 200
      message: OK
version: 1
