interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/instance/activity
  response:
    body:
      string: '[{"week": "1775930822", "statuses": "107105", "logins": "57575", "registrations":
        "1397"}, {"week": "1775326022", "statuses": "899843", "logins": "162367",
        "registrations": "12064"}, {"week": "1774721222", "statuses": "919759", "logins":
        "162325", "registrations": "11506"}, {"week": "1774116422", "statuses": "936765",
        "logins": "161259", "registrations": "11662"}, {"week": "1773511622", "statuses":
        "916169", "logins": "155342", "registrations": "10433"}, {"week": "1772906822",
        "statuses": "947964", "logins": "160393", "registrations": "11409"}, {"week":
        "1772302022", "statuses": "971290", "logins": "160740", "registrations": "11423"},
        {"week": "1771697222", "statuses": "927541", "logins": "159445", "registrations":
        "12002"}, {"week": "1771092422", "statuses": "913181", "logins": "172335",
        "registrations": "12498"}, {"week": "1770487622", "statuses": "939898", "logins":
        "174406", "registrations": "13957"}, {"week": "1769882822", "statuses": "985866",
        "logins": "174597", "registrations": "13817"}, {"week": "1769278022", "statuses":
        "1026900", "logins": "173379", "registrations": "17555"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a9198a864feeb04f8f8cd94e8cbeb807"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '2026-04-11T21:15:00.302773Z'
    status:
      code: 200
      message: OK
version: 1
