interactions:
- request:
    body: subscription%5Bendpoint%5D=http%3A%2F%2Fhalcy.de&subscription%5Bkeys%5D%5Bp256dh%5D=BHNdJbO5iSC2eBsBKOxXeRBsvfxxLhVxiauYz0q0a15QWx8WIUHjn8MB2Qxq6Nft1D6SuCaj5BRHwmbc6lm55RM%3D&subscription%5Bkeys%5D%5Bauth%5D=zILnsHdLfazqb8peTkzDgg%3D%3D&policy=all&data%5Balerts%5D%5Bfollow%5D=1
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/push/subscription
  response:
    body:
      string: '{"id": 33565033, "endpoint": "http://halcy.de", "standard": false,
        "alerts": {"follow": true}, "server_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "policy": "all"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"aaa581b2f41a01ea3c378ed8e7102bbd"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '254'
      x-ratelimit-reset:
      - '2026-04-11T14:40:00.415249Z'
    status:
      code: 200
      message: OK
version: 1
