interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/.well-known/oauth-authorization-server
  response:
    body:
      string: '{"issuer": "https://mastodon.social/", "authorization_endpoint": "https://mastodon.social/oauth/authorize",
        "token_endpoint": "https://mastodon.social/oauth/token", "revocation_endpoint":
        "https://mastodon.social/oauth/revoke", "userinfo_endpoint": "https://mastodon.social/oauth/userinfo",
        "scopes_supported": ["read", "profile", "write", "write:accounts", "write:blocks",
        "write:bookmarks", "write:collections", "write:conversations", "write:favourites",
        "write:filters", "write:follows", "write:lists", "write:media", "write:mutes",
        "write:notifications", "write:reports", "write:statuses", "read:accounts",
        "read:blocks", "read:bookmarks", "read:collections", "read:favourites", "read:filters",
        "read:follows", "read:lists", "read:mutes", "read:notifications", "read:search",
        "read:statuses", "follow", "push", "admin:read", "admin:read:accounts", "admin:read:reports",
        "admin:read:domain_allows", "admin:read:domain_blocks", "admin:read:ip_blocks",
        "admin:read:email_domain_blocks", "admin:read:canonical_email_blocks", "admin:write",
        "admin:write:accounts", "admin:write:reports", "admin:write:domain_allows",
        "admin:write:domain_blocks", "admin:write:ip_blocks", "admin:write:email_domain_blocks",
        "admin:write:canonical_email_blocks"], "response_types_supported": ["code"],
        "response_modes_supported": ["query", "fragment", "form_post"], "grant_types_supported":
        ["authorization_code", "client_credentials"], "token_endpoint_auth_methods_supported":
        ["client_secret_basic", "client_secret_post"], "code_challenge_methods_supported":
        ["S256"], "service_documentation": "https://docs.joinmastodon.org/", "app_registration_endpoint":
        "https://mastodon.social/api/v1/apps"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8cfb07f8314b0f4f25bcea927a8c1a48"
    status:
      code: 200
      message: OK
version: 1
