interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/apps/verify_credentials
  response:
    body:
      string: '{"id": "2896467", "name": "MastopyDocsUpdater", "website": null, "scopes":
        ["read", "write", "follow", "push"], "redirect_uris": ["urn:ietf:wg:oauth:2.0:oob"],
        "vapid_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "redirect_uri": "urn:ietf:wg:oauth:2.0:oob"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"04b159d4f87aabbabaf80ba748f3b27e"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '280'
      x-ratelimit-reset:
      - '2025-02-14T15:30:00.899083Z'
    status:
      code: 200
      message: OK
version: 1
