interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/lists
  response:
    body:
      string: '[{"id": "85", "title": "testlist", "replies_policy": "list", "exclusive":
        false}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"07bf4bd7d517192116c684f6af1c4c62"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '297'
      x-ratelimit-reset:
      - '2025-02-14T15:40:00.903756Z'
    status:
      code: 200
      message: OK
version: 1
