interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/markers?timeline%5B%5D=home
  response:
    body:
      string: '{"home": {"last_read_id": "112354531929585923", "version": 321, "updated_at":
        "2024-04-29T12:50:18.048Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"93b37b9b627ce66bbded2da1bb6d59cf"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '252'
      x-ratelimit-reset:
      - '2025-11-06T21:35:00.119296Z'
    status:
      code: 200
      message: OK
version: 1
