interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/featured_tags
  response:
    body:
      string: '[{"id": "471768", "name": "demoscene", "url": "https://mastodon.social/@halcy/tagged/demoscene",
        "statuses_count": "0", "last_status_at": null}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ad14c7d863230aef3311f94067dc4812"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '225'
      x-ratelimit-reset:
      - '2025-08-15T20:20:00.074633Z'
    status:
      code: 200
      message: OK
version: 1
