interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/accounts/verify_credentials
  response:
    body:
      string: '{"id": "43", "username": "halcy", "acct": "halcy", "display_name":
        "autumnal halcy", "locked": true, "bot": false, "discoverable": false, "indexable":
        false, "group": false, "created_at": "2016-03-21T00:00:00.000Z", "note": "<p><a
        href=\"https://halcy.de/\" target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span
        class=\"invisible\">https://</span><span class=\"\">halcy.de/</span><span
        class=\"invisible\"></span></a> ~ Local account.</p><p>Now also and possibly
        primarily <span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy\"
        class=\"u-url mention\">@<span>halcy</span></a></span> . You should really
        follow me there. This account only exists for testing now.</p>", "url": "https://mastodon.social/@halcy",
        "uri": "https://mastodon.social/users/halcy", "avatar": "https://files.mastodon.social/accounts/avatars/000/000/043/original/52c1dca567e1c24b.jpg",
        "avatar_static": "https://files.mastodon.social/accounts/avatars/000/000/043/original/52c1dca567e1c24b.jpg",
        "header": "https://mastodon.social/headers/original/missing.png", "header_static":
        "https://mastodon.social/headers/original/missing.png", "followers_count":
        126, "following_count": 35, "statuses_count": 987, "last_status_at": "2025-11-06",
        "hide_collections": false, "noindex": false, "source": {"privacy": "private",
        "sensitive": false, "language": null, "note": "https://halcy.de/ ~ Local account.\r\n\r\nNow
        also and possibly primarily @halcy@icosahedron.website . You should really
        follow me there. This account only exists for testing now.", "fields": [{"name":
        "i have a field now", "value": ":sidekiq:", "verified_at": null}], "follow_requests_count":
        12, "hide_collections": false, "discoverable": false, "indexable": false,
        "attribution_domains": [], "quote_policy": "public"}, "emojis": [{"shortcode":
        "sidekiq", "url": "https://files.mastodon.social/custom_emojis/images/000/037/182/original/7efd7097c1d613e9.png",
        "static_url": "https://files.mastodon.social/custom_emojis/images/000/037/182/static/7efd7097c1d613e9.png",
        "visible_in_picker": true}], "roles": [], "fields": [{"name": "i have a field
        now", "value": ":sidekiq:", "verified_at": null}], "role": {"id": "-99", "name":
        "", "permissions": "65536", "color": "", "highlighted": false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"47e67adad525802e20ba77cd1d916494"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '295'
      x-ratelimit-reset:
      - '2025-11-06T21:35:00.575608Z'
    status:
      code: 200
      message: OK
version: 1
