interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://icosahedron.website/api/v2/notifications?expand_accounts=partial_avatars
  response:
    body:
      string: '{"accounts": [{"id": "109333057891195199", "username": "nifta", "acct":
        "nifta", "display_name": "Michael K", "locked": false, "bot": false, "discoverable":
        true, "indexable": false, "group": false, "created_at": "2022-11-12T00:00:00.000Z",
        "note": "<p>I&#39;ve been in the video games industry for going on 30 years
        (mostly) as a thoroughly average programmer. For the past 12+ years I\u2019ve
        focused on pretty much every aspect of Augmented Reality. I&#39;ve been very
        lucky.</p><p>Loves: <a href=\"https://icosahedron.website/tags/RetroGames\"
        class=\"mention hashtag\" rel=\"tag\">#<span>RetroGames</span></a>, current
        games, <a href=\"https://icosahedron.website/tags/TheMuppets\" class=\"mention
        hashtag\" rel=\"tag\">#<span>TheMuppets</span></a>, classic simpsons quotes,
        <a href=\"https://icosahedron.website/tags/MST3k\" class=\"mention hashtag\"
        rel=\"tag\">#<span>MST3k</span></a> &amp; <a href=\"https://icosahedron.website/tags/RiffTrax\"
        class=\"mention hashtag\" rel=\"tag\">#<span>RiffTrax</span></a>, <a href=\"https://icosahedron.website/tags/FilmNoir\"
        class=\"mention hashtag\" rel=\"tag\">#<span>FilmNoir</span></a>, <a href=\"https://icosahedron.website/tags/Philosophy\"
        class=\"mention hashtag\" rel=\"tag\">#<span>Philosophy</span></a>, <a href=\"https://icosahedron.website/tags/TheKLF\"
        class=\"mention hashtag\" rel=\"tag\">#<span>TheKLF</span></a>, <a href=\"https://icosahedron.website/tags/Pinball\"
        class=\"mention hashtag\" rel=\"tag\">#<span>Pinball</span></a>, <a href=\"https://icosahedron.website/tags/TwinPeaks\"
        class=\"mention hashtag\" rel=\"tag\">#<span>TwinPeaks</span></a> and generally
        trying to pretend I understand things. <a href=\"https://icosahedron.website/tags/ActuallyAutistic\"
        class=\"mention hashtag\" rel=\"tag\">#<span>ActuallyAutistic</span></a></p><p><a
        href=\"https://icosahedron.website/tags/Demoscene\" class=\"mention hashtag\"
        rel=\"tag\">#<span>Demoscene</span></a> id: spacey-nz</p>", "url": "https://icosahedron.website/@nifta",
        "uri": "https://icosahedron.website/users/nifta", "avatar": "https://icosahedron.website/system/accounts/avatars/109/333/057/891/195/199/original/f4bad85b6b6de0c8.jpg",
        "avatar_static": "https://icosahedron.website/system/accounts/avatars/109/333/057/891/195/199/original/f4bad85b6b6de0c8.jpg",
        "header": "https://icosahedron.website/headers/original/missing.png", "header_static":
        "https://icosahedron.website/headers/original/missing.png", "followers_count":
        284, "following_count": 426, "statuses_count": 17019, "last_status_at": "2025-02-15",
        "hide_collections": false, "noindex": true, "emojis": [], "roles": [], "fields":
        [{"name": "Occasional Blog", "value": "<a href=\"https://ziggurat.co.nz\"
        target=\"_blank\" rel=\"nofollow noopener noreferrer me\" translate=\"no\"><span
        class=\"invisible\">https://</span><span class=\"\">ziggurat.co.nz</span><span
        class=\"invisible\"></span></a>", "verified_at": "2023-01-09T05:35:48.652+00:00"},
        {"name": "omg.lol", "value": "<a href=\"https://nifta.omg.lol\" target=\"_blank\"
        rel=\"nofollow noopener noreferrer me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">nifta.omg.lol</span><span class=\"invisible\"></span></a>", "verified_at":
        "2023-01-09T03:48:59.991+00:00"}, {"name": "Mixcloud", "value": "<a href=\"https://mixcloud.com/nifta/\"
        target=\"_blank\" rel=\"nofollow noopener norefe[...]
