interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/instance/activity
  response:
    body:
      string: '[{"week": "1775844066", "statuses": "118281", "logins": "58006", "registrations":
        "1414"}, {"week": "1775239266", "statuses": "891439", "logins": "162897",
        "registrations": "12359"}, {"week": "1774634466", "statuses": "922033", "logins":
        "163117", "registrations": "11913"}, {"week": "1774029666", "statuses": "916362",
        "logins": "160778", "registrations": "11293"}, {"week": "1773424866", "statuses":
        "924554", "logins": "156155", "registrations": "10419"}, {"week": "1772820066",
        "statuses": "952038", "logins": "159786", "registrations": "11446"}, {"week":
        "1772215266", "statuses": "965740", "logins": "159702", "registrations": "11106"},
        {"week": "1771610466", "statuses": "931050", "logins": "158926", "registrations":
        "12021"}, {"week": "1771005666", "statuses": "907707", "logins": "171342",
        "registrations": "12339"}, {"week": "1770400866", "statuses": "939770", "logins":
        "174329", "registrations": "14194"}, {"week": "1769796066", "statuses": "986425",
        "logins": "173727", "registrations": "14261"}, {"week": "1769191266", "statuses":
        "1035097", "logins": "172734", "registrations": "17627"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bc0e2a257cd846d36cbb7fa1f5c077cc"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '2026-04-11T12:20:00.064716Z'
    status:
      code: 200
      message: OK
version: 1
