interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/.well-known/nodeinfo
  response:
    body:
      string: '{"links": [{"rel": "http://nodeinfo.diaspora.software/ns/schema/2.0",
        "href": "https://mastodon.social/nodeinfo/2.0"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2e5c6a3d0480ec4e1aca2c01d42f0238"
      x-sigsci-agentresponse:
      - '200'
      x-sigsci-decision-ms:
      - '12'
      x-sigsci-tags:
      - SUSPECTED-BOT,site.test
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/nodeinfo/2.0
  response:
    body:
      string: '{"version": "2.0", "software": {"name": "mastodon", "version": "4.5.0-nightly.2025-08-06-security"},
        "protocols": ["activitypub"], "services": {"outbound": [], "inbound": []},
        "usage": {"users": {"total": 2846379, "activeMonth": 272779, "activeHalfyear":
        763426}, "localPosts": 142308335}, "openRegistrations": true, "metadata":
        {"nodeName": "Mastodon", "nodeDescription": "The original server operated
        by the Mastodon gGmbH non-profit"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b2f5848e27d86fe93cf6599c9eadfa62"
    status:
      code: 200
      message: OK
version: 1
