interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/notifications?expand_accounts=partial_avatars
  response:
    body:
      string: '{"accounts": [{"id": "109446733121874654", "username": "latencyobs",
        "acct": "latencyobs@icosahedron.website", "display_name": "Latency Observer",
        "locked": false, "bot": false, "discoverable": false, "indexable": false,
        "group": false, "created_at": "2022-12-02T00:00:00.000Z", "note": "", "url":
        "https://icosahedron.website/@latencyobs", "uri": "https://icosahedron.website/users/latencyobs",
        "avatar": "https://mastodon.social/avatars/original/missing.png", "avatar_static":
        "https://mastodon.social/avatars/original/missing.png", "avatar_description":
        "", "header": "https://mastodon.social/headers/original/missing.png", "header_static":
        "https://mastodon.social/headers/original/missing.png", "header_description":
        "", "followers_count": 0, "following_count": 0, "statuses_count": 0, "last_status_at":
        null, "hide_collections": false, "show_media": true, "show_media_replies":
        true, "show_featured": true, "emojis": [], "fields": []}, {"id": "109446733188999785",
        "username": "halcy", "acct": "halcy@hachyderm.io", "display_name": "halcy",
        "locked": false, "bot": false, "discoverable": false, "indexable": false,
        "group": false, "created_at": "2022-12-01T00:00:00.000Z", "note": "", "url":
        "https://hachyderm.io/@halcy", "uri": "https://hachyderm.io/users/halcy",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/109/446/733/188/999/785/original/6518eb9200a50b3b.gif",
    [...]
