interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/trends/links
  response:
    body:
      string: '[{"url": "https://www.404media.co/anyone-can-push-updates-to-the-doge-gov-website-2/",
        "title": "Anyone Can Push Updates to the DOGE.gov Website", "description":
        "\"THESE ''EXPERTS'' LEFT THEIR DATABASE OPEN.\"", "language": "en", "type":
        "link", "author_name": "", "author_url": "", "provider_name": "404 Media",
        "provider_url": "", "html": "", "width": 651, "height": 354, "image": "https://files.mastodon.social/cache/preview_cards/images/132/652/125/original/45869b8507859974.png",
        "image_description": "", "embed_url": "", "blurhash": "U12$N$ae9Exu-;t6Rjoexut7xuV@-;t7j[WB",
        "published_at": "2025-02-14T06:42:14.000Z", "history": [{"day": "1739577600",
        "accounts": "145", "uses": "154"}, {"day": "1739491200", "accounts": "1878",
        "uses": "2146"}, {"day": "1739404800", "accounts": "0", "uses": "0"}, {"day":
        "1739318400", "accounts": "0", "uses": "0"}, {"day": "1739232000", "accounts":
        "0", "uses": "0"}, {"day": "1739145600", "accounts": "0", "uses": "0"}, {"day":
        "1739059200", "accounts": "0", "uses": "0"}], "authors": []}, {"url": "https://www.wired.com/story/cisa-election-security-freeze-memo/",
        "title": "Top US Election Security Watchdog Forced to Stop Election Security
        Work", "description": "The US Cybersecurity and Infrastructure Security Agency
        has frozen efforts to aid states in securing elections, according to an internal
        memo viewed by WIRED.", "language": "en", "type": "link", "author_name": "Eric
        Geller", "author_url": "", "provider_name": "WIRED", "provider_url": "", "html":
        "", "width": 663, "height": 347, "image": "https://files.mastodon.social/cache/preview_cards/images/132/800/506/original/eace1cc0a73ddda9.jpeg",
        "image_description": "", "embed_url": "", "blurhash": "UcM7S]^+xaoy~pE1M|s:t6M{t7jbayt6ofWU",
        "published_at": "2025-02-15T03:07:33.578Z", "history": [{"day": "1739577600",
        "accounts": "239", "uses": "247"}, {"day": "1739491200", "accounts": "0",
        "uses": "0"}, {"day": "1739404800", "accounts": "0", "uses": "0"}, {"day":
        "1739318400", "accounts": "0", "uses": "0"}, {"day": "1739232000", "accounts":
        "0", "uses": "0"}, {"day": "1739145600", "accounts": "0", "uses": "0"}, {"day":
        "1739059200", "accounts": "0", "uses": "0"}], "authors": [{"name": "Eric Geller",
        "url": "", "account": null}]}, {"url": "https://www.nbcnews.com/politics/national-security/trump-administration-wants-un-fire-nuclear-safety-workers-cant-figure-rcna192345",
        "title": "Trump administration wants to un-fire nuclear safety workers but
        can\u2019t figure out how to reach them", "description": "National Nuclear
        Security Administration officials attempted to notify some employees who had
        been let go that they are now due to be reinstated but struggled to find them
        be[...]
