interactions:
- request:
    body: scope=read+write+follow+push&client_id=DUMMY&client_secret=DUMMY&grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/oauth/token
  response:
    body:
      string: '{"access_token": "DUMMY", "token_type": "Bearer", "scope": "read write
        follow push", "created_at": 1762464693}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8910dc3a94d0bd5ed206290694515fac"
    status:
      code: 200
      message: OK
- request:
    body: username=halcy&password=secret&email=invalid+email+lol&agreement=1&locale=en&return_detailed_error=1&client_id=DUMMY&client_secret=DUMMY
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/accounts
  response:
    body:
      string: '{"error": "Validation failed: E-mail address is invalid, Password is
        too short (minimum is 8 characters), Username has already been taken, E-mail
        address is invalid, E-mail address uses a disallowed e-mail provider, Date
        of birth can''t be blank", "details": {"email": [{"error": "ERR_INVALID",
        "description": "is invalid"}, {"error": "ERR_INVALID", "description": "is
        invalid"}, {"error": "ERR_BLOCKED", "description": "uses a disallowed e-mail
        provider"}], "password": [{"error": "ERR_TOO_SHORT", "description": "is too
        short (minimum is 8 characters)"}], "username": [{"error": "ERR_TAKEN", "description":
        "has already been taken"}], "date_of_birth": [{"error": "ERR_BLANK", "description":
        "can''t be blank"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
      x-ratelimit-reset:
      - '2026-04-11T15:00:00.357679Z'
    status:
      code: 422
      message: Unknown Error
version: 1
