interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/.well-known/nodeinfo
  response:
    body:
      string: '{"links": [{"rel": "http://nodeinfo.diaspora.software/ns/schema/2.0",
        "href": "https://mastodon.social/nodeinfo/2.0"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2e5c6a3d0480ec4e1aca2c01d42f0238"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/nodeinfo/2.0
  response:
    body:
      string: '{"version": "2.0", "software": {"name": "mastodon", "version": "4.6.0-nightly.2026-04-09"},
        "protocols": ["activitypub"], "services": {"outbound": [], "inbound": []},
        "usage": {"users": {"total": 3227352, "activeMonth": 286109, "activeHalfyear":
        722982}, "localPosts": 170416131}, "openRegistrations": true, "metadata":
        {"nodeName": "Mastodon", "nodeDescription": "The original server of Mastodon,
        operated by Mastodon GmbH for the common good.\r\n\r\n"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8c39839f9e5cd3ba201ef0e2d492407d"
    status:
      code: 200
      message: OK
version: 1
