interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/trends
  response:
    body:
      string: '[{"id": "4235114", "name": "FensterFreitag", "url": "https://mastodon.social/tags/fensterfreitag",
        "history": [{"day": "1739491200", "accounts": "204", "uses": "220"}, {"day":
        "1739404800", "accounts": "4", "uses": "4"}, {"day": "1739318400", "accounts":
        "1", "uses": "1"}, {"day": "1739232000", "accounts": "0", "uses": "0"}, {"day":
        "1739145600", "accounts": "0", "uses": "0"}, {"day": "1739059200", "accounts":
        "1", "uses": "1"}, {"day": "1738972800", "accounts": "11", "uses": "12"}],
        "following": false}, {"id": "4368494", "name": "WindowFriday", "url": "https://mastodon.social/tags/windowfriday",
        "history": [{"day": "1739491200", "accounts": "99", "uses": "104"}, {"day":
        "1739404800", "accounts": "3", "uses": "3"}, {"day": "1739318400", "accounts":
        "0", "uses": "0"}, {"day": "1739232000", "accounts": "0", "uses": "0"}, {"day":
        "1739145600", "accounts": "0", "uses": "0"}, {"day": "1739059200", "accounts":
        "1", "uses": "1"}, {"day": "1738972800", "a[...]
