interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110446383900387196
  response:
    body:
      string: '{"id": "110446383900387196", "created_at": "2023-05-28T12:47:40.000Z",
        "in_reply_to_id": null, "in_reply_to_account_id": null, "sensitive": false,
        "spoiler_text": "", "visibility": "public", "language": "en", "uri": "https://icosahedron.website/users/halcy/statuses/110446382983698223",
        "url": "https://icosahedron.website/@halcy/110446382983698223", "replies_count":
        2, "reblogs_count": 1, "favourites_count": 0, "quotes_count": 0, "edited_at":
        "2023-05-28T12:51:38.000Z", "favourited": false, "reblogged": false, "muted":
        false, "bookmarked": false, "content": "<p>secret test poll :hecker:</p>",
        "filtered": [], "reblog": null, "account": {"id": "23972", "username": "halcy",
        "acct": "halcy@icosahedron.website", "display_name": "halcy\u200b :icosahedron:",
        "locked": false, "bot": false, "discoverable": true, "indexable": true, "group":
        false, "created_at": "2017-02-03T00:00:00.000Z", "note": "<p>i am exactly
        like all the other guys.</p><p>ideal for comfortable gameplay in relaxed locations.</p><p>i
        work at, but do not speak for, microsoft.</p>", "url": "https://icosahedron.website/@halcy",
        "uri": "https://icosahedron.website/users/halcy", "avatar": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "header": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "followers_count": 3483, "following_count": 525, "statuses_count": 70985,
        "last_status_at": "2025-11-06", "hide_collections": true, "emojis": [{"shortcode":
        "icosahedron", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/original/e0d448640e549b87.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/static/e0d448640e549b87.png",
        "visible_in_picker": true}], "fields": [{"name": "Web", "value": "<a href=\"https://halcy.de/\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a>", "verified_at":
        "2025-11-06T16:10:44.333+00:00"}, {"name": "Demogroup", "value": "<a href=\"https://demoscene.vc/\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"\">demoscene.vc/</span><span class=\"invisible\"></span></a>", "verified_at":
        null}, {"name": "Pronouns", "value": "He/Him", "verified_at": null}, {"name":
        "Priv", "value": "<span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy2\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy2</span></a></span>",
        "verified_at": null}]}, "media_attachments": [], "mentions": [], "tags": [],
        "emojis": [{"shortcode": "hecker", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/010/124/original/2dcc325491a1fe88.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/010/124/static/2dcc325491a1fe88.png",
        "visible_in_picker": true}], "quote": null, "card": null, "poll": {"id": "495482",
        "expires_at": "2023-05-29T12:51:38.000Z", "expired": true, "multiple": true,
        "votes_count": 64, "voters_count": 47, "voted": true, "own_votes": [1, 2,
        3], "options": [{"title": "real", "votes_count": 8}, {"title": "fr fr", "votes_count":
        17}, {"title": "so true", "votes_count": 14}, {"title": ":hecker:", "votes_count":
        25}], "emojis": [{"shortcode": "hecker", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/010/124/original/2dcc325491a1fe88.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/010/124/static/2dcc325491a1fe88.png",
        "visible_in_picker": true}]}, "quote_approval": {"automatic": [], "manual":
        [], "current_user": "denied"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9a978cafbfa0667f3c9bcf8568bc1b56"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '283'
      x-ratelimit-reset:
      - '2025-11-06T21:35:00.036389Z'
    status:
      code: 200
      message: OK
version: 1
