interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://icosahedron.website/api/v1/instance/terms_of_service
  response:
    body:
      string: '{"effective_date": "2025-08-17", "effective": false, "content": "<h1>What
        information do we collect?</h1>\n\n<p>We collect information from you when
        you register on our site and gather data when you participate in the forum
        by reading, writing, and evaluating the content shared here.</p>\n\n<p>When
        registering on our site, you may be asked to enter your name and e-mail address.
        You may, however, visit our site without registering. Your e-mail address
        will be verified by an email containing a unique link. If that link is visited,
        we know that you control the e-mail address.</p>\n\n<p>When registered and
        posting, we record the IP address that the post originated from. We also may
        retain server logs which include the IP address of every request to our server
        and diagnostic information for errors.\nWhat do we use your information for?</p>\n\n<p>Any
        of the information we collect from you may be used in one of the following
        ways:</p>\n\n<ul>\n<li>To function as a social media website - we display
        and share the posts that you make, associated with a pseudonym of your choosing.
        We do not require you to provide your legal name to use this website.</li>\n<li>To
        personalize your experience - your information helps us to better respond
        to your individual needs.</li>\n<li>To improve service - your information
        helps us to more effectively respond to your support needs and to fix operational
        problem[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://icosahedron.website/api/v1/instance/terms_of_service?date=2025-08-17
  response:
    body:
      string: '{"effective_date": "2025-08-17", "effective": false, "content": "<h1>What
        information do we collect?</h1>\n\n<p>We collect information from you when
        you register on our site and gather data when you participate in the forum
        by reading, writing, and evaluating the[...]
