interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/accounts/relationships?id=23972
  response:
    body:
      string: '[{"id": "23972", "following": true, "showing_reblogs": true, "notifying":
        false, "languages": null, "followed_by": true, "blocking": false, "blocked_by":
        false, "muting": false, "muting_notifications": false, "requested": false,
        "requested_by": false, "domain_blocking": false, "endorsed": false, "note":
        ""}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"88847c783a712449a2344e1a51bdf80a"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '247'
      x-ratelimit-reset:
      - '2025-08-15T20:20:00.524191Z'
    status:
      code: 200
      message: OK
version: 1
