interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/suggestions
  response:
    body:
      string: '[{"source": "past_interactions", "sources": ["similar_to_recently_followed"],
        "account": {"id": "109295773988822189", "username": "serhii", "acct": "serhii@mstdn.science",
        "display_name": "Serhii Nazarovets", "locked": false, "bot": false, "discoverable":
        true, "indexable": true, "group": false, "created_at": "2022-11-06T00:00:00.000Z",
        "note": "<p>Ph.D. in Social Communication. My research interests: Bibliometrics,
        Scientometrics, Scholarly Communication, and Library Science.</p>", "url":
        "https://mstdn.science/@serhii", "uri": "https://mstdn.science/users/serhii",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/109/295/773/988/822/189/original/25b8ee6790701f79.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/109/295/773/988/822/189/original/25b8ee6790701f79.jpg",
        "header": "https://files.mastodon.social/cache/accounts/headers/109/295/773/988/822/189/original/47b36eb984f514c1.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/109/295/773/988/822/189/original/47b36eb984f514c1.png",
        "followers_count": 519, "following_count": 265, "statuses_count": 493, "last_status_at":
        "2025-08-12", "hide_collections": true, "emojis": [], "fields": [{"name":
        "Location", "value": "Kyiv, Ukraine", "verified_at": null}, {"name": "Blog",
        "value": "<a href=\"https://panbibliotekar.blogspot.com\" target=\"_blank\"
        rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">panbibliotekar.blogspot.com</span><span class=\"invisible\"></span></a>",
        "verified_at": "2025-08-14T08:02:13.029+00:00"}, {"name": "ORCID", "value":
        "<a href=\"https://orcid.org/0000-0002-5067-4498\" rel=\"nofollow noopener\"
        translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"\">orcid.org/0000-0002-5067-4498</span><span class=\"invisible\"></span></a>",
        "ver[...]
