interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110447012773105565
  response:
    body:
      string: '{"id": "110447012773105565", "created_at": "2023-05-28T15:27:44.000Z",
        "in_reply_to_id": "110447003454258227", "in_reply_to_account_id": "43", "sensitive":
        false, "spoiler_text": "", "visibility": "private", "language": "de", "uri":
        "https://icosahedron.website/users/halcy/statuses/110447012380248325", "url":
        "https://icosahedron.website/@halcy/110447012380248325", "replies_count":
        0, "reblogs_count": 0, "favourites_count": 0, "edited_at": null, "favourited":
        false, "reblogged": false, "muted": false, "bookmarked": false, "content":
        "<p><span class=\"h-card\"><a href=\"https://mastodon.social/@halcy\" class=\"u-url
        mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy@mastodon.social</span></a></span>
        audio post, but remote</p>", "filtered": [], "reblog": null, "account": {"id":
        "23972", "username": "halcy", "acct": "halcy@icosahedron.website", "display_name":
        "halcy\u200b:icosahedron:", "locked": false, "bot": false, "discoverable":
        true, "indexable": true, "group": false, "created_at": "2017-02-03T00:00:00.000Z",
        "note": "<p>build. your. squid.</p><p>ideal for comfortable gameplay in relaxed
        locations.</p><p>i work at, but do not speak for, microsoft.</p>", "url":
        "https://icosahedron.website/@halcy", "uri": "https://icosahedron.website/users/halcy",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "header": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "followers_count": 3351, "following_count": 505, "statuses_count": 63577,
        "last_status_at": "2025-02-14", "hide_collections": true, "emojis": [{"shortcode":
        "icosahedron", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/original/e0d448640e549b87.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/static/e0d448640e549b87.png",
        "visible_in_picker": true}], "fields": [{"name": "Web", "value": "<a href=\"https://halcy.de/\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a>", "verified_at":
        "2025-02-13T02:03:24.627+00:00"}, {"name": "Demogroup", "value": "<a href=\"https://demoscene.vc/\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"\">demoscene.vc/</span><span class=\"invisible\"></span></a>", "verified_at":
        null}, {"name": "Pronouns", "value": "He/Him", "verified_at": null}, {"name":
        "Priv", "value": "<span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy2\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy2</span></a></span>",
        "verified_at": null}]}, "media_attachments": [{"id": "110447012463944310",
        "type": "audio", "url": "https://files.mastodon.social/cache/media_attachments/files/110/447/012/463/944/310/original/338b5f21f79a6b4e.mp3",
        "preview_url": null, "remote_url": "https://icosahedron.website/system/media_attachments/files/110/447/009/175/249/326/original/8e2be16453b30958.mp3",
        "preview_remote_url": "https://icosahedron.website/system/media_attachments/thumbnails/110/447/009/175/249/326/original/c410a00dcd8873f5.jpg",
        "text_url": null, "meta": {"colors": {"background": "#151322", "foreground":
        "#cfc0cb", "accent": "#b88659"}, "original": {"duration": 217.730612, "bitrate":
        170447}, "small": {"width": 554, "height": 416, "size": "554x416", "aspect":
        1.3317307692307692}}, "description": null, "blurhash": "UPB:Q]a#9YWBkEofWAaz0Ja#%Mj[oJR*bIa}"}],
        "mentions": [{"id": "43", "username": "halcy", "url": "https://mastodon.social/@halcy",
        "acct": "halcy"}], "tags": [], "emojis": [], "card": null, "poll": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1f22160e4431832d53dfa2108078ae2c"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '296'
      x-ratelimit-reset:
      - '2025-02-14T15:40:00.071358Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110447003454258227
  response:
    body:
      string: '{"id": "110447003454258227", "created_at": "2023-05-28T15:25:28.292Z",
        "in_reply_to_id": "110447001287656894", "in_reply_to_account_id": "43", "sensitive":
        true, "spoiler_text": "", "visibility": "private", "language": "de", "uri":
        "https://mastodon.social/users/halcy/statuses/110447003454258227", "url":
        "https://mastodon.social/@halcy/110447003454258227", "replies_count": 0, "reblogs_count":
        0, "favourites_count": 0, "edited_at": null, "favourited": false, "reblogged":
        false, "muted": false, "bookmarked": false, "pinned": false, "content": "<p>image
        post</p>", "filtered": [], "reblog": null, "application": {"name": "Web",
        "website": null}, "account": {"id": "43", "username": "halcy", "acct": "halcy",
        "display_name": "autumnal halcy", "locked": true, "bot": false, "discoverable":
        false, "indexable": false, "group": false, "created_at": "2016-03-21T00:00:00.000Z",
        "note": "<p><a href=\"https://halcy.de/\" target=\"_blank\" rel=\"nofollow
        noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a> ~ Local account.</p><p>Now
        also and possibly primarily <span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy\"
        class=\"u-url mention\">@<span>halcy</span></a></span></p>", "url": "https://mastodon.social/@halcy",
        "uri": "https://mastodon.social/users/halcy", "avatar": "https://mastodon.social/avatars/original/missing.png",
        "avatar_static": "https://mastodon.social/avatars/original/missing.png", "header":
        "https://mastodon.social/headers/original/missing.png", "header_static": "https://mastodon.social/headers/original/missing.png",
        "followers_count": 128, "following_count": 33, "statuses_count": 974, "last_status_at":
        "2024-12-03", "hide_collections": false, "noindex": false, "emojis": [{"shortcode":
        "sidekiq", "url": "https://files.mastodon.social/custom_emojis/images/000/037/182/original/7efd7097c1d613e9.png",
        "static_url": "https://files.mastodon.social/custom_emojis/images/000/037/182/static/7efd7097c1d613e9.png",
        "visible_in_picker": true}], "roles": [], "fields": [{"name": "i have a field
        now", "value": ":sidekiq:", "verified_at": null}]}, "media_attachments": [{"id":
        "110447002079181641", "type": "image", "url": "https://files.mastodon.social/media_attachments/files/110/447/002/079/181/641/original/97232afa341c291e.jpg",
        "preview_url": "https://files.mastodon.social/media_attachments/files/110/447/002/079/181/641/small/97232afa341c291e.jpg",
        "remote_url": null, "preview_remote_url": null, "text_url": null, "meta":
        {"original": {"width": 1280, "height": 720, "size": "1280x720", "aspect":
        1.7777777777777777}, "small": {"width": 640, "height": 360, "size": "640x360",
        "aspect": 1.7777777777777777}, "focus": {"x": 0.05, "y": -0.49}}, "description":
        "furry cube", "blurhash": "UvBEOP$%r9ofroa#bef$R5Wnb^ahVua#buf5"}], "mentions":
        [], "tags": [], "emojis": [], "card": null, "poll": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5a56119ceb8633ffff8a5fc7a9c6fae7"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '295'
      x-ratelimit-reset:
      - '2025-02-14T15:40:00.242308Z'
    status:
      code: 200
      message: OK
version: 1
