interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/115044073088181107
  response:
    body:
      string: '{"id": "115044073088181107", "created_at": "2025-08-17T12:20:44.088Z",
        "in_reply_to_id": "115044053131672379", "in_reply_to_account_id": "109446733188999785",
        "sensitive": false, "spoiler_text": "", "visibility": "public", "language":
        "en", "uri": "https://bsky.brid.gy/convert/ap/at://did:plc:5syfqzormjkutgo5hi2u2gpr/app.bsky.feed.post/3lwlunj3oqs22",
        "url": "https://bsky.brid.gy/r/https://bsky.app/profile/did:plc:5syfqzormjkutgo5hi2u2gpr/post/3lwlunj3oqs22",
        "replies_count": 0, "reblogs_count": 0, "favourites_count": 0, "quotes_count":
        0, "edited_at": null, "favourited": false, "reblogged": false, "muted": false,
        "bookmarked": false, "content": "<p>actual reply that quotes a post that quotes
        a post <a href=\"https://bsky.app/profile/h4lcy.bsky.social/post/3lwlumdwf522i\"
        rel=\"nofollow noopener\" target=\"_blank\">bsky.app/profile/h4lc...</a><span
        class=\"quote-inline\"><br><br>RE: <a href=\"https://bsky.app/profile/did:plc:5syfqzormjkutgo5hi2u2gpr/post/3lwlumdwf522i\"
        rel=\"nofollow noopener\" target=\"_blank\">https://bsky.app/profile/did:plc:5syfqzormjkutgo5hi2u2gpr/post/3lwlumdwf522i</a></span></p>",
        "filtered": [], "reblog": null, "account": {"id": "115043949422165680", "username":
        "h4lcy.bsky.social", "acct": "h4lcy.bsky.social@bsky.brid.gy", "display_name":
        "", "locked": false, "bot": false, "discoverable": true, "indexable": true,
        "group": false, "created_at": "2025-07-09T00:00:00.000Z", "note": "\ud83c\udf09
        <a href=\"https://fed.brid.gy/bsky/h4lcy.bsky.social\" rel=\"nofollow noopener\"
        target=\"_blank\">bridged</a> from \ud83e\udd8b <a href=\"https://bsky.app/profile/h4lcy.bsky.social\"
        rel=\"nofollow noopener\" target=\"_blank\">h4lcy.bsky.social</a>, follow
        <a class=\"h-card u-author mention\" rel=\"nofollow noopener\" href=\"https://bsky.brid.gy/bsky.brid.gy\"
        target=\"_blank\">@bsky.brid.gy</a> to interact", "url": "https://bsky.brid.gy/r/https://bsky.app/profile/h4lcy.bsky.social",
        "uri": "https://bsky.brid.gy/ap/did:plc:5syfqzormjkutgo5hi2u2gpr", "avatar":
        "https://files.mastodon.social/cache/accounts/avatars/115/043/949/422/165/680/original/3e1dd77d9101ba91.png",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/115/043/949/422/165/680/original/3e1dd77d9101ba91.png",
        "header": "https://files.mastodon.social/cache/accounts/headers/115/043/949/422/165/680/original/5e90a3286a31ed8d.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/115/043/949/422/165/680/original/5e90a3286a31ed8d.png",
        "followers_count": 0, "following_count": 2, "statuses_count": 0, "last_status_at":
        "2025-08-17", "hide_collections": false, "emojis": [], "fields": [{"name":
        "Web site", "value": "<a rel=\"nofollow noopener\" href=\"https://bsky.app/profile/h4lcy.bsky.social\"
        target=\"_blank\"><span class=\"invisible\">https://</span>bsky.app/profile/h4lcy.bsky.social</a>",
        "verified_at": null}]}, "media_attachments": [], "mentions": [], "tags": [],
        "emojis": [], "quote": {"state": "accepted", "quoted_status": {"id": "115044070560414080",
        "created_at": "2025-08-17T12:20:05.117Z", "in_reply_to_id": "115044053131672379",
        "in_reply_to_account_id": "109446733188999785", "sensitive": false, "spoiler_text":
        "", "visibility": "public", "language": "en", "uri": "https://bsky.brid.gy/convert/ap/at://did:plc:5syfqzormjkutgo5hi2u2gpr/app.bsky.feed.post/3lwlumdwf522i",
        "url": "https://bsky.brid.gy/r/https://bsky.app/profile/did:plc:5syfqzormjkutgo5hi2u2gpr/post/3lwlumdwf522i",
   [...]
