interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/notifications
  response:
    body:
      string: '[{"id": "481197356", "type": "mention", "created_at": "2025-11-06T18:46:28.635Z",
        "group_key": "ungrouped-481197356", "account": {"id": "109446733188999785",
        "username": "halcy", "acct": "halcy@hachyderm.io", "display_name": "halcy",
        "locked": false, "bot": false, "discoverable": false, "indexable": false,
        "group": false, "created_at": "2022-12-01T00:00:00.000Z", "note": "", "url":
        "https://hachyderm.io/@halcy", "uri": "https://hachyderm.io/users/halcy",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/109/446/733/188/999/785/original/6518eb9200a50b3b.gif",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/109/446/733/188/999/785/static/6518eb9200a50b3b.png",
        "header": "https://mastodon.social/headers/original/missing.png", "header_static":
        "https://mastodon.social/headers/original/missing.png", "followers_count":
        2, "following_count": 2, "statuses_count": 3, "last_status_at": "2025-08-17",
        "hide_collections": false, "emojis": [], "fields": []}, "status": null}, {"id":
        "481080651", "type": "mention", "created_at": "2025-11-06T13:55:03.053Z",
        "group_key": "ungrouped-481080651", "account": {"id": "261937", "username":
        "halcy", "acct": "halcy@glitch.social", "display_name": "fake halcy", "locked":
        false, "bot": false, "discoverable": false, "indexable": false, "group": false,
        "created_at": "2017-12-13T00:00:00.000Z", "note": "<p>test account for Mastodon.py
        development</p>", "url": "https://glitch.social/@halcy", "uri": "https://glitch.social/users/halcy",
        "avatar": "https://files.mastodon.social/accounts/avatars/000/261/937/original/8ddd2c33f682ef12.png",
        "avatar_static": "https://files.mastodon.social/accounts/avatars/000/261/937/original/8ddd2c33f682ef12.png",
        "header": "https://files.mastodon.social/accounts/headers/000/261/937/original/3741881592d9d97b.png",
        "header_static": "https://files.mastodon.social/accounts/headers/000/261/937/original/3741881592d9d97b.png",
        "followers_count": 13, "following_count": 2, "statuses_count": 44, "last_status_at":
        null, "hide_collections": false, "emojis": [], "fields": [{"name": "A", "value":
        "X", "verified_at": null}, {"name": "B", "value": "Y", "verified_at": null},
        {"name": "C", "value": "Z", "verified_at": null}, {"name": "D", "value": "W",
        "verified_at": null}]}, "status": null}, {"id": "481046669", "type": "mention",
        "created_at": "2025-11-06T12:28:42.958Z", "group_key": "ungrouped-481046669",
        "account": {"id": "109446733188999785", "username": "halcy", "acct": "halcy@hachyderm.io",
        "display_name": "halcy", "locked": false, "bot": false, "discoverable": fal[...]
