interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/filters
  response:
    body:
      string: '[{"id": "202", "title": "animes", "context": ["home"], "expires_at":
        null, "filter_action": "warn", "keywords": [{"id": "202", "keyword": "animes",
        "whole_word": false}], "statuses": [{"id": "5980", "status_id": "110446223051565765"}]}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6fa9430258aa6544bfb53d5f1c900c33"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '298'
      x-ratelimit-reset:
      - '2025-02-15T20:00:00.107725Z'
    status:
      code: 200
      message: OK
version: 1
