interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110447012773105565
  response:
    body:
      string: '{"id": "110447012773105565", "created_at": "2023-05-28T15:27:44.000Z",
        "in_reply_to_id": "110447003454258227", "in_reply_to_account_id": "43", "sensitive":
        false, "spoiler_text": "", "visibility": "private", "language": "de", "uri":
        "https://icosahedron.website/users/halcy/statuses/110447012380248325", "url":
        "https://icosahedron.website/@halcy/110447012380248325", "replies_count":
        0, "reblogs_count": 0, "favourites_count": 0, "quotes_count": 0, "edited_at":
        null, "favourited": false, "reblogged": false, "muted": false, "bookmarked":
        false, "content": "<p><span class=\"h-card\"><a href=\"https://mastodon.social/@halcy\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy@mastodon.social</span></a></span>
        audio post, but remote</p>", "filtered": [], "reblog": null, "account": {"id":
        "23972", "username": "halcy", "acct": "halcy@icosahedron.website", "display_name":
        "halcy\u200b :icosahedron:", "locked": false, "bot": false, "discoverable":
        true, "indexable": true, "group": false, "created_at": "2017-02-03T00:00:00.000Z",
        "note": "<p>i am exactly like all the other guys.</p><p>ideal for comfortable
        gameplay in relaxed locations.</p><p>i work at, but do not speak for, microsoft.</p>",
        "url": "https://icosahedron.website/@halcy", "uri": "https://icosahedron.website/users/halcy",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_description": "", "header": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_description": "", "followers_count": 3553, "following_count": 540,
        "statuses_count": 75076, "last_status_at": "2026-04-11", "hide_collections":
        true, "show_media": true, "show_media_replies": true, "show_featured": true,
        "emojis": [{"shortcode": "icosahedron", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/original/e0d448640e549b87.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/static/e0d448640e549b87.png",
        "visible_in_picker": true}], "fields": [{"name": "Web", "value": "<a href=\"https://halcy.de/\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a>", "verified_at":
        "2026-04-11T12:08:00.687+00:00"}, {"name": "Demogroup", "value": "<a href=\"https://demoscene.vc/\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"\">demoscene.vc/</span><span class=\"invisible\"></span></a>", "verified_at":
        null}, {"name": "Pronouns", "value": "He/Him", "verified_at": null}, {"name":
        "Priv", "value": "<span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy2\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy2</span></a></span>",
        "verified_at": null}]}, "media_attachments": [{"id": "110447012463944310",
        "type": "audio", "url": "https://mastodon.social/media_proxy/110447012463944310/original",
        "preview_url": "https://mastodon.social/media_proxy/110447012463944310/small",
        "remote_url": "https://icosahedron.website/system/media_attachments/files/110/447/009/175/249/326/original/8e2be16453b30958.mp3",
        "preview_remote_url": "https://icosahedron.website/system/media_attachments/thumbnails/110/447/009/175/249/326/original/c410a00dcd8873f5.jpg",
        "text_url": null, "meta": {"colors": {"background": "#151322", "foreground":
        "#cfc0cb", "accent": "#b88659"}, "original": {"duration": 217.730612, "bitrate":
        170447}, "small": {"width": 554, "height": 416, "size": "554x416", "aspect":
        1.3317307692307692}}, "description": null, "blurhash": "UPB:Q]a#9YWBkEofWAaz0Ja#%Mj[oJR*bIa}"}],
        "mentions": [{"id": "43", "username": "halcy", "url": "https://mastodon.social/@halcy",
        "acct": "halcy"}], "tags": [], "emojis": [], "tagged_collections": [], "quote":
        null, "card": null, "poll": null, "quote_approval": {"automatic": [], "manual":
        [], "current_user": "denied"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9e53228651c03e58e79ce29e84248db4"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '270'
      x-ratelimit-reset:
      - '2026-04-11T23:15:00.551827Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110447003454258227
  response:
    body:
      string: '{"id": "110447003454258227", "created_at": "2023-05-28T15:25:28.292Z",
        "in_reply_to_id": "110447001287656894", "in_reply_to_account_id": "43", "sensitive":
        true, "spoiler_text": "", "visibility": "private", "language": "de", "uri":
        "https://mastodon.social/users/halcy/statuses/110447003454258227", "url":
        "https://mastodon.social/@halcy/110447003454258227", "replies_count": 0, "reblogs_count":
        0, "favourites_count": 0, "quotes_count": 0, "edited_at": null, "favourited":
        false, "reblogged": false, "muted": false, "bookmarked": false, "pinned":
        false, "content": "<p>image post</p>", "filtered": [], "reblog": null, "application":
        {"name": "Web", "website": null}, "account": {"id": "43", "username": "halcy",
        "acct": "halcy", "display_name": "autumnal halcy", "locked": true, "bot":
        false, "discoverable": false, "indexable": false, "group": false, "created_at":
        "2016-03-21T00:00:00.000Z", "note": "<p><a href=\"https://halcy.de/\" target=\"_blank\"
        rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a> ~ Local ac[...]
