interactions:
- request:
    body: subscription%5Bendpoint%5D=http%3A%2F%2Fhalcy.de&subscription%5Bkeys%5D%5Bp256dh%5D=BKFEnV%2B1zW6wAzwZtaRARSPYoyludRTz6p6rgHXl1WmXThexJbljHNP6VRD2pX9LsKHzRCZWEvY1XBjAnBPgRSg%3D&subscription%5Bkeys%5D%5Bauth%5D=aiSLX7vwBZboO4oJz34FHQ%3D%3D&policy=all&data%5Balerts%5D%5Bfollow%5D=1
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/push/subscription
  response:
    body:
      string: '{"id": 26400487, "endpoint": "http://halcy.de", "standard": false,
        "alerts": {"follow": true}, "server_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "policy": "all"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"20e9b3765fd58388f1d2c9aeb7d2d2dd"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '2025-08-15T20:35:00.155462Z'
    status:
      code: 200
      message: OK
version: 1
