interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/instance/
  response:
    body:
      string: '{"uri": "mastodon.social", "title": "Mastodon", "short_description":
        "The original server operated by the Mastodon gGmbH non-profit", "description":
        "", "email": "staff@mastodon.social", "version": "4.4.0-nightly.2025-02-07",
        "urls": {"streaming_api": "wss://streaming.mastodon.social"}, "stats": {"user_count":
        2522485, "status_count": 120163210, "domain_count": 81770}, "thumbnail": "https://files.mastodon.social/site_uploads/files/000/000/001/@1x/57c12f441d083cde.png",
        "languages": ["en"], "registrations": true, "approval_required": false, "invites_enabled":
        true, "configuration": {"accounts": {"max_featured_tags": 10}, "statuses":
        {"max_characters": 500, "max_media_attachments": 4, "characters_reserved_per_url":
        23}, "media_attachments": {"supported_mime_types": ["image/jpeg", "image/png",
        "image/gif", "image/heic", "image/heif", "image/webp", "image/avif", "video/webm",
        "video/mp4", "video/quicktime", "video/ogg", "audio/wave", "audio/wav", "audio/x-wav",
        "audio/x-pn-wave", "audio/vnd.wave", "audio/ogg", "audio/vorbis", "audio/mpeg",
        "audio/mp3", "audio/webm", "audio/flac", "audio/aac", "audio/m4a", "audio/x-m4a",
        "audio/mp4", "audio/3gpp", "video/x-ms-asf"], "image_size_limit": 16777216,
        "image_matrix_limit": 33177600, "video_size_limit": 103809024, "video_frame_rate_limit":
        120, "video_matrix_limit": 8294400}, "polls": {"max_options": 4, "max_characters_per_option":
        50, "min_expiration": 300, "max_expiration": 2629746}}, "contact_account":
        {"id": "13179", "username": "Mastodon", "acct": "Mastodon", "display_name":
        "Mastodon", "locked": false, "bot": false, "discoverable": true, "indexable":
        false, "group": false, "created_at": "2016-11-23T00:00:00.000Z", "note": "<p>Free,
        open-source decentralized social media platform.</p>", "url": "https://mastodon.social/@Mastodon",
        "uri": "https://mastodon.social/users/Mastodon", "avatar": "https://files.mastodon.social/accounts/avatars/000/013/179/original/b4ceb19c9c54ec7e.png",
        "avatar_static": "https://files.mastodon.social/accounts/avatars/000/013/179/original/b4ceb19c9c54ec7e.png",
        "header": "https://files.mastodon.social/accounts/headers/000/013/179/original/1375be116fbe0f1d.png",
        "header_static": "https://files.mastodon.social/accounts/headers/000/013/179/original/1375be116fbe0f1d.png",
        "followers_count": 837871, "following_count": 4, "statuses_count": 289, "last_status_at":
        "2025-02-14", "hide_collections": false, "noindex": false, "emojis": [], "roles":
        [], "fields": [{"name": "Homepage", "value": "<a href=\"https://joinmastodon.org\"
        target=\"_blank\" rel=\"nofollow noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">joinmastodon.org</span><span class=\"invisible\"></span></a>",
        "verified_at": "2018-10-31T04:11:00.076+00:00"}, {"name": "Patreon", "value":
        "<a href=\"https://patreon.com/mastodon\" target=\"_blank\" rel=\"nofollow
        noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">patreon.com/mastodon</span><span class=\"invisible\"></span></a>",
        "verified_at": null}, {"name": "GitHub", "value": "<a href=\"https://github.com/mastodon\"
        target=\"_blank\" rel=\"nofollow noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">github.com/mastodon</span><span class=\"invisible\"></span></a>",
        "verified_at": "2023-07-21T13:27:45.996+00:00"}]}, "rules": [{"id": "1", "text":
        "Sexually explicit or violent media must be marked as sensitive or with a
        content warning", "hint": "This includes content that is particularly provocative
        even if it may not show specific body parts, as well as dead bodies, bloody
        injuries, and other gore. Particularly obscene content may be prohibited entirely.
        Profile pictures and header images may not contain sexually explicit or violent
        media."}, {"id": "2", "text": "No racism, sexism, homophobia, transphobia,
        ableism, xenophobia, or casteism.", "hint": "Transphobic behavior such as
        intenti[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/suggestions
  response:
    body:
      string: '[{"source": "past_interactions", "sources": ["friends_of_friends"],
        "account": {"id": "23989", "username": "lazyreader", "acct": "lazyreader@icosahedron.website",
        "display_name": "DMA", "locked": false, "bot": false, "discoverable": true,
        "indexable": false, "group": false, "created_at": "2017-02-13T00:00:00.000Z",
        "note": "<p>Developer in JC, NJ. Helps make paperswelove.org happen.</p>",
        "url": "https://icosahedron.website/@lazyreader", "uri": "https://icosahedron.website/users/lazyreader",
        "avatar": "https://files.mastodon.social/[...]
