interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/notifications?expand_accounts=partial_avatars
  response:
    body:
      string: '{"accounts": [{"id": "109446733188999785", "username": "halcy", "acct":
        "halcy@hachyderm.io", "display_name": "halcy", "locked": false, "bot": false,
        "discoverable": false, "indexable": false, "group": false, "created_at": "2022-12-01T00:00:00.000Z",
        "note": "", "url": "https://hachyderm.io/@halcy", "uri": "https://hachyderm.io/users/halcy",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/109/446/733/188/999/785/original/6518eb9200a50b3b.gif",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/109/446/733/188/999/785/static/6518eb9200a50b3b.png",
        "header": "https://mastodon.social/headers/original/missing.png", "header_static":
        "https://mastodon.social/headers/original/missing.png", "followers_count":
        2, "following_count": 2, "statuses_count": 3, "last_status_at": "2025-08-17",
        "hide_collections": false, "emojis": [], "fields": []}, {"id": "261937", "username":
        "halcy", "acct": "halcy@glitch.social", "display_name": "fake halcy", "locked":
        false, "bot": false, "discoverable": false, "indexable": false, "group": false,
        "created_at": "2017-12-13T00:00:00.000Z", "note": "<p>test account for Mastodon.py
        development</p>", "url": "https://glitch.social/@halcy", "uri": "https://glitch.social/users/halcy",
        "avatar": "https://files.mastodon.social/accounts/avatars/000/261/937/original/8ddd2c33f682ef12.png",
        "avatar_static": "https://files.mastodon.social/accounts/avatars/000/261/937/original/8ddd2c33f682ef12.png",
        "header": "https://files.mastodon.social/accounts/headers/000/261/937/original/3741881592d9d97b.png",
        "header_static": "https://files.mastodon.social/accounts/headers/000/261/937/original/3741881592d9d97b.png",
        "followers_count": 13, "following_count": 2, "statuses_count": 44, "last_status_at":
        null, "hide_collections": false, "emojis": [], "fields": [{"name": "A", "value":
        "X", "verified_at": null}, {"name": "B", "value": "Y", "verified_at": null},
        {"name": "C", "value": "Z", "verified_at": null}, {"name": "D", "value": "W",
        "verified_at": null}]}, {"id": "109446733121874654", "username": "latencyobs",
        "acct": "latencyobs@icosahedron.website", "display_name": "Latency Observer",
        "locked": false, "bot": false, "discoverable": false, "indexable": false,
        "group": false, "created_at": "2022-12-02T00:00:00.000Z", "note": "", "url":
        "https://icosahedron.website/@latencyobs", "uri": "https://icosahedron.website/users/latencyobs",
        "avatar": "https://mastodon.social/avatars/original/missing.png", "avatar_static":
        "https://mastodon.social/avatars/original/missing.png", "header": "https://mastodon.social/headers/original/missing.png",
        "header_static": "https://mastodon.social/headers/original/missing.png", "followers_count":
        0, "following_count": 0, "statuses_count": 0, "last_status_at": null, "hide_collections":
        false, "emojis": [], "fields": []}], "partial_accounts": [], "statuses": [],
        "notification_groups": [{"group_key": "ungrouped-481197356", "notifications_count":
        1, "type": "mention", "most_recent_notification_id": 481197356, "page_min_id":
        "481197356", "page_max_id": "481197356", "latest_page_notification_at": "2025-11-06T18:46:28.635Z",
        "sample_account_ids": ["109446733188999785"], "status_id": null}, {"group_key":
        "ungrouped-481080651", "notifications_count": 1, "type": "mention", "most_recent_notification_id":
        481080651, "page_min_id": "481080651", "page_max_id": "481080651", "latest_page_notification_at":
        "2025-11-06T13:55:03.053Z", "sample_account_ids": ["261937"], "status_id":
        null}, {"group_key": "ungrouped-481046669", "notifications_count": 1, "type":
        "mention", "most_recent_notification_id": 481046669, "page_min_id": "481046669",
       [...]
