interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://icosahedron.website/api/v1/announcements
  response:
    body:
      string: '[{"id": "42", "content": "<p>Early warning: We will begin the process
        of first bringing us up to the latest 4.5 release (4.5.3), and then probably
        update to a known-working nightly for Mastodon Wrapped. The former should
        be easy and quick, the latter will be more involved because there will be
        stylesheet changes that might need custom theme rework (which will have to
        be done for 4.6 no matter what, in any case).</p>", "starts_at": null, "ends_at":
        null, "all_day": false, "published_at": "2025-12-15T14:01:30.242Z", "updated_at":
        "2025-12-15T14:01:30.248Z", "read": true, "mentions": [], "statuses": [],
        "tags": [], "emojis": [], "reactions": [{"name": "\ud83d\ude80", "count":
        6, "me": false}, {"name": "icosan_party", "count": 2, "me": false, "url":
        "https://icosahedron.website/system/custom_emojis/images/000/132/668/original/948f6da7a75bf2a7.png",
        "static_url": "https://icosahedron.website/system/custom_emojis/images/000/132/668/static/948f6da7a75bf2a7.png"},
        {"name": "\ud83c\udf81", "count": 2, "me": false}, {"name": "\ud83c\udf87",
        "count": 1, "me": false}]}, {"id": "45", "content": "<p>Upgrade to nightly
        is now starting. Please wait warmly.</p>", "starts_at": null, "ends_at": null,
        "all_day": false, "published_at": "2025-12-16T13:11:39.923Z", "updated_at":
        "2025-12-16T13:11:39.942Z", "read": true, "mentions":[...]
