interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/trends/links
  response:
    body:
      string: '[{"url": "https://www.404media.co/ice-adds-random-person-to-group-chat-exposes-details-of-manhunt-in-real-time/",
        "title": "ICE Adds Random Person to Group Chat, Exposes Details of Manhunt
        in Real-Time", "description": "The texts were sent to a group called \u201cMass
        Text\u201d and show ICE using DMV and license plate reader data in an attempt
        to find their target, copies of the messages obtained by 404 Media show.",
        "language": "en", "type": "link", "author_name": "", "author_url": "", "provider_name":
        "404 Media", "provider_url": "", "html": "", "width": 584, "height": 395,
        "image": "https://files.mastodon.social/cache/preview_cards/images/158/831/576/original/3f30e49589543a50.png",
        "image_description": "", "embed_url": "", "blurhash": "UJO3;fIv^-D??Y?VoMoL^,M|Ss%J^~jJovov",
        "published_at": "2025-08-14T16:54:06.000Z", "history": [{"day": "1755216000",
        "accounts": "117", "uses": "125"}, {"day": "1755129600", "accounts": "445",
        "uses": "475"}, {"day": "1755043200", "accounts": "0", "uses": "0"}, {"day":
        "1754956800", "accounts": "0", "uses": "0"}, {"day": "1754870400", "accounts":
        "0", "uses": "0"}, {"day": "1754784000", "accounts": "0", "uses": "0"}, {"day":
        "1754697600", "accounts": "0", "uses": "0"}], "authors": []}, {"url": "https://www.rollingstone.com/music/music-news/neil-young-quits-facebook-1235408277/",
        "title": "Neil Young Quits Facebook Over Meta\u2019s \u2018Unconscionable\u2019
        Use of Chatbots With Children", "description": "Neil Young has requested that
        his Facebook account stop being used, with the rocker quitting in response
        to Meta chatbots interacting with children. ", "language": "en", "type": "link",
        "author_name": "Larisha Paul", "author_url": "", "provider_name": "Rolling
        Stone", "provider_url": "", "html": "", "width": 640, "height": 360, "image":
        "https://files.mastodon.social/cache/preview_cards/images/158/936/549/original/f8edc8e277119094.jpg",
        "image_description": "Neil Young Quits Facebook Over Meta''s ''Unconscionable''
        Use of Chatbots With Children", "embed_url": "", "blurhash": "U58zW50LEn%3ojNFbuxcIB-=Rho~%2NZxF-p",
        "published_at": "2025-08-15T13:50:47.000Z", "history": [{"day": "1755216000",
        "accounts": "158", "uses": "158"}, {"day": "1755129600", "accounts": "0",
        "uses": "0"}, {"day": "1755043200", "accounts": "0", "uses": "0"}, {"day":
        "1754956800", "accounts": "0", "uses": "0"}, {"day": "1754870400", "accounts":
        "0", "uses": "0"}, {"day": "1754784000", "accounts": "0", "uses": "0"}, {"day":
        "1754697600", "accounts": "0", "uses": "0"}], "authors": [{"name": "Larisha
        Paul", "url": "", "account": null}]}, {"url": "https://www.tomshardware.com/tech-industry/artificial-intelligence/chatgpt-5-power-consumption-could-be-as-much-as-eight-times-higher-than-gpt-4-research-institute-estimates-medium-sized-gpt-5-response-can-consume-up-to-40-watt-hours-of-electricity",
        "title": "ChatGPT 5 power consumption could be as much as eight times higher
        than GPT 4 \u2014 research institute estimates medium-sized GPT-5 response
        can consume up to 40 watt-hours of electricity", "desc[...]
