interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/conversations/
  response:
    body:
      string: '[{"id": "5566407", "unread": false, "accounts": [{"id": "261937", "username":
        "halcy", "acct": "halcy@glitch.social", "display_name": "fake halcy", "locked":
        false, "bot": false, "discoverable": false, "indexable": false, "group": false,
        "created_at": "2017-12-13T00:00:00.000Z", "note": "<p>test account for Mastodon.py
        development</p>", "url": "https://glitch.social/@halcy", "uri": "https://glitch.social/users/halcy",
        "avatar": "https://files.mastodon.social/accounts/avatars/000/261/937/original/8ddd2c33f682ef12.png",
        "avatar_static": "https://files.mastodon.social/accounts/avatars/000/261/937/original/8ddd2c33f682ef12.png",
        "avatar_description": "", "header": "https://files.mastodon.social/accounts/headers/000/261/937/original/3741881592d9d97b.png",
        "header_static": "https://files.mastodon.social/accounts/headers/000/261/937/original/3741881592d9d97b.png",
        "header_description": "", "followers_count": 12, "following_count": 2, "statuses_count":
        44, "last_status_at": null, "hide_collections": false, "show_media": true,
        "show_media_replies": true, "show_featured": true, "emojis": [], "fields":
        [{"name": "A", "value": "X", "verified_at": null}, {"name": "B", "value":
        "Y", "verified_at": null}, {"name": "C", "value": "Z", "verified_at": null},
        {"name": "D", "value": "W", "verified_at": null}]}, {"id": "109446733121874654",
        "username": "latencyobs", "acct": "latencyobs@icosahedron.website", "display_name":
        "Latency Observer", "locked": false, "bot": false, "discoverable": false,
        "indexable": false, "group": false, "created_at": "2022-12-02T00:00:00.000Z",
        "note": "", "url": "https:/[...]
