interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/accounts/relationships?id=23972
  response:
    body:
      string: '[{"id": "23972", "following": true, "showing_reblogs": true, "notifying":
        false, "languages": null, "followed_by": true, "blocking": false, "blocked_by":
        false, "muting": false, "muting_notifications": false, "muting_expires_at":
        null, "requested": false, "requested_by": false, "domain_blocking": false,
        "endorsed": false, "note": ""}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0ca13f7fff97ba8bcb52399fd6c1c4d1"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '275'
      x-ratelimit-reset:
      - '2026-04-11T14:40:00.354962Z'
    status:
      code: 200
      message: OK
version: 1
