interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/suggestions
  response:
    body:
      string: '[{"source": "past_interactions", "sources": ["friends_of_friends"],
        "account": {"id": "109323994426051751", "username": "diondiondion", "acct":
        "diondiondion@indieweb.social", "display_name": "Dion", "locked": false, "bot":
        false, "discoverable": true, "indexable": true, "group": false, "created_at":
        "2022-11-09T00:00:00.000Z", "note": "<p>UI designer and developer. Love CSS,
        accessibility, and design systems. Occasional illustrator and beatmaker, eternal
        etymology nerd and probably presently pondering the origin of a citrus fruit
        or something.</p><p>Front-end developer at Mastodon. He/Him. No AI.</p>",
        "url": "https://indieweb.social/@diondiondion", "uri": "https://indieweb.social/users/diondiondion",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/109/323/994/426/051/751/original/8fd49e3cbf02978a.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/109/323/994/426/051/751/original/8fd49e3cbf02978a.jpg",
        "avatar_description": "", "header": "https://mastodon.social/headers/original/missing.png",
        "header_static": "https://mastodon.social/headers/original/missing.png", "header_description":
        "", "followers_count": 281, "following_count": 131, "statuses_count": 184,
        "last_status_at": "2026-04-09", "hide_collections": false, "show_media": true,
        "show_media_replies": true, "show_featured": true, "emojis": [], "fields":
        [{"name": "Location", "value": "Berlin", "verified_at": null}, {"name": "Website",
        "value": "<a href=\"https://diondiondion.com\" rel=\"nofollow noopener\" translate=\"no\"
        target=\"_blank\"><span class=\"invisible\">https://</span><span class=\"\">diondiondion.com</span><span
        class=\"invisible\"></span></a>", "verified_at": null}, {"name": "Work", "value":
        "<a href=\"https://joinmastodon.org/about\" target=\"_blank\" rel=\"nofollow
        noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">joinmastodon.org/about</span><span class=\"invisible\"></span></a>",
        "verified_at": "2026-04-07T09:25:26.114+00:00"}, {"name": "\ud83e\udd86",
        "value": "<a href=\"https://play-duck.com\" rel=\"nofollow noopener\" translate=\"no\"
        target=\"_blank\"><span class=\"invisible\">https://</span><span class=\"\">play-duck.com</span><span
        class=\"invisible\"></span></a>", "verified_at": null}]}}, {"source": "past_interactions",
        "sources": ["friends_of_friends"], "account": {"id": "179774", "username":
        "SwooshyCueb", "acct": "SwooshyCueb@chitter.xyz", "display_name": "Markus",
        "locked": false, "bot": false, "discoverable": true, "indexable": false, "group":
        false, "created_at": "2017-06-30T00:00:00.000Z", "note": "<p>Professional
        code butcher. Hobbyist musician. Spezi drinker.<br>Dragon. Vernid. Sergal.
        Bat. Elf.</p><p>I''m that weirdo who actually likes systemd.</p><p>he/him/his<br>Queer
        (cis polyamorous panromantic phallocentric-pansexual)<br>White settler.<br>The
        sun has been trying to kill me since ''93.</p><p>If you''re below the age
        of majority in your country, you shouldn''t follow me.</p><p>I often use a
        client that can''t display pinned toots, profile metadata, and sometimes bios.</p><p>It''s
        okay to boost my unlis[...]
