interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/suggestions
  response:
    body:
      string: '[{"source": "global", "sources": ["most_followed", "most_interactions"],
        "account": {"id": "109315961014974316", "username": "skeletor", "acct": "skeletor@mas.to",
        "display_name": "Inspirational Skeletor\ud83d\udc80", "locked": false, "bot":
        false, "discoverable": true, "indexable": false, "group": false, "created_at":
        "2022-11-08T00:00:00.000Z", "note": "<p>Be inspired or be DESTROYED</p>",
        "url": "https://mas.to/@skeletor", "uri": "https://mas.to/users/skeletor",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/109/315/961/014/974/316/original/3a36843f0c2baecf.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/109/315/961/014/974/316/original/3a36843f0c2baecf.jpg",
        "avatar_description": "", "header": "https://files.mastodon.social/cache/accounts/headers/109/315/961/014/974/316/original/7baff7e2ef2a3e7c.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/109/315/961/014/974/316/original/7baff7e2ef2a3e7c.png",
        "header_description": "", "followers_count": 31284, "following_count": 666,
        "statuses_count": 1886, "last_status_at": "2026-04-11", "hide_collections":
        false, "show_media": true, "show_media_replies": true, "show_featured": true,
        "emojis": [], "fields": [{"name": "Threads", "value": "<a href=\"https://www.threads.net/@inspirationalskeletor\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://www.</span><span
        class=\"ellipsis\">threads.net/@inspirationalskel</span><span class=\"invisible\">etor</span></a>",
        "verified_at": null}, {"name": "Bluesky", "value": "<a href=\"https://bsky.app/profile/skeletorinspires.bsky.social\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"ellipsis\">bsky.app/profile/skeletorinspi</span><span class=\"invisible\">res.bsky.social</span></a>",
        "verified_at": null}]}}, {"source": "past_interactions", "sources": ["friends_of_friends"],
        "account": {"id": "521381", "username": "TommyWiseau"[...]
