interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/trends/links
  response:
    body:
      string: '[{"url": "https://www.404media.co/fbi-tries-to-unmask-owner-of-infamous-archive-is-site/",
        "title": "FBI Tries to Unmask Owner of Infamous Archive.is Site", "description":
        "The FBI has subpoenaed the domain registrar of archive.today, demanding information
        about the owner.", "language": "en", "type": "link", "author_name": "", "author_url":
        "", "provider_name": "404 Media", "provider_url": "", "html": "", "width":
        614, "height": 375, "image": "https://files.mastodon.social/cache/preview_cards/images/169/619/529/original/bd6c01bbeba06477.png",
        "image_description": "", "embed_url": "", "blurhash": "UOQcqxM|KH%L$kt7RjRjYxRkV[of.QRjaffR",
        "published_at": "2025-11-06T14:50:50.000Z", "history": [{"day": "1762387200",
        "accounts": "254", "uses": "256"}, {"day": "1762300800", "accounts": "0",
        "uses": "0"}, {"day": "1762214400", "accounts": "0", "uses": "0"}, {"day":
        "1762128000", "accounts": "0", "uses": "0"}, {"day": "1762041600", "accounts":
        "0", "uses": "0"}, {"day": "1761955200", "accounts": "0", "uses": "0"}, {"day":
        "1761868800", "accounts": "0", "uses": "0"}], "authors": []}, {"url": "https://www.propublica.org/article/foreign-food-safety-inspections-historic-low-fda",
        "title": "Foreign Food Safety Inspections Hit Historic Low After Trump Cuts",
        "description": "The dramatic shift in oversight comes at a time when the U.S.
        has never been more reliant on foreign food, which accounts for the vast majority
        of the nation\u2019s seafood and more than half its fresh fruit.", "language":
        "en", "type": "link", "author_name": "andrea.wise@propublica.org", "author_url":
        "", "provider_name": "ProPublica", "provider_url": "", "html": "", "width":
        588, "height": 392, "image": "https://files.mastodon.social/cache/preview_cards/images/169/581/431/original/695b15dd95c533ea.webp",
        "image_description": "", "embed_url": "", "blurhash": "UEGl9a^%IVog~qkCRlD*EiNG-pM{NIt6-;jF",
        "published_at": "2025-11-06T10:00:00.000Z", "history": [{"day": "1762387200",
        "accounts": "142", "uses": "142"}, {"day": "1762300800", "accounts": "0",
        "uses": "0"}, {"day": "1762214400", "accounts": "0", "uses": "0"}, {"day":
        "1762128000", "accounts": "0", "uses": "0"}, {"day": "1762041600", "accounts":
        "0", "uses": "0"}, {"day": "1761955200", "accounts": "0", "uses": "0"}, {"day":
        "1761868800", "accounts": "0", "uses": "0"}], "authors": [{"name": "andrea.wise@propublica.org",
        "url": "", "account": null}]}, {"url": "https://popular.info/p/six-election-results-that-didnt-make",
        "title": "Six election results that didn\u2019t make the headlines", "description":
        "Although Democratic victories in New York, Virginia, New Jersey, and California
        dominated the headlines, significant contests were held across the nation.",
        "language": "en", "type": "link", "author_name": "Rebecca Crosby", "author_url":
        "https://substack.com/@rebeccacrosby", "provider_name": [...]
