interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://icosahedron.website/api/v2/notifications?expand_accounts=partial_avatars
  response:
    body:
      string: '{"accounts": [{"id": "24582", "username": "jamey", "acct": "jamey@toot.cat",
        "display_name": "Jamey Sharp", "locked": false, "bot": false, "discoverable":
        false, "indexable": false, "group": false, "created_at": "2017-04-17T00:00:00.000Z",
        "note": "<p>An advocate of nuance and historical context</p><p>\"not the rockstar
        you want, but the janitor you need\"</p>", "url": "https://toot.cat/@jamey",
        "uri": "https://toot.cat/users/jamey", "avatar": "https://icosahedron.website/system/accounts/avatars/000/024/582/original/5ea016bd16762bfb.jpeg",
        "avatar_static": "https://icosahedron.website/system/accounts/avatars/000/024/582/original/5ea016bd16762bfb.jpeg",
        "header": "https://icosahedron.website/headers/original/missing.png", "header_static":
        "https://icosahedron.website/headers/original/missing.png", "followers_count":
        945, "following_count": 595, "statuses_count": 15728, "last_status_at": "2026-04-11",
        "hide_collections": true, "emojis": [], "fields": [{"name": "Blog", "value":
        "<a href=\"https://jamey.thesharps.us\" rel=\"nofollow noopener\" translate=\"no\"
        target=\"_blank\"><span class=\"invisible\">https://</span><span class=\"\">jamey.thesharps.us</span><span
        class=\"invisible\"></span></a>", "verified_at": null}, {"name": "Pronouns",
        "value": "any", "verified_at": null}, {"name": "Age", "value": "40", "verified_at":
        null}, {"name": "Place", "value": "Portland, Oregon", "verified_at": null}]},
        {"id": "70312", "username": "lara", "acct": "lara@mond-basis.eu", "display_name":
        "pinkpawkitty :therian:", "locked": false, "bot": false, "discoverable": true,
        "indexable": false, "group": false, "created_at": "2018-04-02T00:00:00.000Z",
        "note": "<p>your avera[...]
