interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/apps/verify_credentials
  response:
    body:
      string: '{"id": "7537082", "name": "test with all perms", "website": "http://halcy.de",
        "scopes": ["read", "profile", "write", "follow", "push"], "redirect_uris":
        ["urn:ietf:wg:oauth:2.0:oob"], "vapid_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "redirect_uri": "urn:ietf:wg:oauth:2.0:oob"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5815418ee414ba307cb31e43c8fc7176"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '278'
      x-ratelimit-reset:
      - '2025-11-06T21:35:00.234010Z'
    status:
      code: 200
      message: OK
version: 1
