interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/instance/activity
  response:
    body:
      string: '[{"week": "1739505899", "statuses": "22612", "logins": "10470", "registrations":
        "329"}, {"week": "1738901099", "statuses": "1005519", "logins": "202236",
        "registrations": "21545"}, {"week": "1738296299", "statuses": "1018942", "logins":
        "209275", "registrations": "27535"}, {"week": "1737691499", "statuses": "73051",
        "logins": "43948", "registrations": "2466"}, {"week": "1737086699", "statuses":
        "0", "logins": "0", "registrations": "0"}, {"week": "1736481899", "statuses":
        "0", "logins": "0", "registrations": "0"}, {"week": "1735877099", "statuses":
        "0", "logins": "0", "registrations": "0"}, {"week": "1735272299", "statuses":
        "0", "logins": "0", "registrations": "0"}, {"week": "1734667499", "statuses":
        "0", "logins": "0", "registrations": "0"}, {"week": "1734062699", "statuses":
        "0", "logins": "0", "registrations": "0"}, {"week": "1733457899", "statuses":
        "0", "logins": "0", "registrations": "0"}, {"week": "1732853099", "statuses":
        "0", "logins": "0", "registrations": "0"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8588e90f6b4f3541242eb166d3820746"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '282'
      x-ratelimit-reset:
      - '2025-02-14T15:40:00.863779Z'
    status:
      code: 200
      message: OK
version: 1
