interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110446223051565765
  response:
    body:
      string: '{"id": "110446223051565765", "created_at": "2023-05-28T12:06:50.000Z",
        "in_reply_to_id": null, "in_reply_to_account_id": null, "sensitive": true,
        "spoiler_text": "test post for mastodon.py stuff", "visibility": "public",
        "language": "de", "uri": "https://icosahedron.website/users/halcy/statuses/110446222386355655",
        "url": "https://icosahedron.website/@halcy/110446222386355655", "replies_count":
        0, "reblogs_count": 0, "favourites_count": 1, "quotes_count": 0, "edited_at":
        "2023-05-28T12:09:44.000Z", "favourited": false, "reblogged": false, "muted":
        false, "bookmarked": false, "content": "<p><span class=\"h-card\"><a href=\"https://icosahedron.website/@halcy\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy</span></a></span>
        you''re a doo-doo head</p><p>edit: editing this to have the maximum amount
        of fields filled :trans_heart: <a href=\"https://icosahedron.website/tags/ThisIsAHashtag\"
        class=\"mention hashtag\" rel=\"nofollow noopener\" target=\"_blank\">#<span>ThisIsAHashtag</span></a></p>",
        "filtered": [{"filter": {"id": "202", "title": "animes", "context": ["home"],
        "expires_at": null, "filter_action": "warn"}, "keyword_matches": null, "status_matches":
        ["110446223051565765"]}], "reblog": null, "account": {"id": "23972", "username":
        "halcy", "acct": "halcy@icosahedron.website", "display_name": "halcy\u200b
        :icosahedron:", "locked": false, "bot": false, "discoverable": true, "indexable":
        true, "group": false, "created_at": "2017-02-03T00:00:00.000Z", "note": "<p>i
        am exactly like all the other guys.</p><p>ideal for comfortable gameplay in
        relaxed locations.</p><p>i work at, but do not speak for, microsoft.</p>",
        "url": "https://icosahedron.website/@halcy", "uri": "https://icosahedron.website/users/halcy",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_description": "", "header": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_description": "", "followers_count": 3553, "following_count": 540,
        "statuses_count": 75052, "last_status_at": "2026-04-11", "hide_collections":
        true, "show_media": true, "show_media_replies": true, "show_featured": true,
        "emojis": [{"shortcode": "icosahedron", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/original/e0d448640e549b87.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/static/e0d448640e549b87.png",
        "visible_in_picker": true}], "fields": [{"name": "Web", "value": "<a href=\"https://halcy.de/\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a>", "verified_at":
        "2026-04-11T12:08:00.687+00:00"}, {"name": "Demogroup", "value": "<a href=\"https://demoscene.vc/\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"\">demoscene.vc/</span><span class=\"invisible\"></span></a>", "verified_at":
        null}, {"name": "Pronouns", "value": "He/Him", "verified_at": null}, {"name":
        "Priv", "value": "<span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy2\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy2</span></a></span>",
        "verified_at": null}]}, "media_attachments": [{"id": "110446234379794171",
        "type": "gifv", "url": "https://files.mastodon.social/cache/media_attachments/files/110/446/234/379/794/171/original/e6bdbd614788c2d1.mp4",
        "preview_url": "https://files.mastodon.social/cache/media_attachments/files/110/446/234/379/794/171/small/e6bdbd614788c2d1.png",
        "remote_url": "https://icosahedron.website/system/media_attachments/files/110/446/231/362/377/421/original/7011ca5f75a12487.mp4",
        "preview_remote_url": null, "text_url": null, "meta": {"focus": {"x": 0.0,
        "y": 0.0}, "original": {"width": 640, "height": 360, "frame_rate": "25/1",
        "duration": 5.76, "bitrate": 1045437}, "small": {"width": 640, "height": 360,
        "size": "640x360", "aspect": 1.7777777777777777}}, "description": "a furry
        cube breakdancing", "blurhash": "UMAm0W4;kTRj0M-:Rjt7%LM|kDoJjZofo0Rk"}],
        "mentions": [{"id": "23972", "username": "halcy", "url": "https://icosahedron.website/@halcy",
        "acct": "halcy@icosahedron.website"}], "tags": [{"name": "thisisahashtag",
        "url": "https://mastodon.social/tags/thisisahashtag"}], "emojis": [{"shortcode":
        "trans_heart", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/008/320/original/3b2fccb2fb601fc2.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/008/320/static/3b2fccb2fb601fc2.png",
        "visible_in_picker": true}], "tagged_collections": [], "quote": null, "card":
        null, "poll": null, "quote_approval": {"automatic": [], "manual": [], "current_user":
        "denied"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"76056645d54b3287ee20f51021fa65f1"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '293'
      x-ratelimit-reset:
      - '2026-04-11T14:40:00.460214Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110446183735368325
  response:
    body:
      string: '{"id": "110446183735368325", "created_at": "2023-05-28T11:57:00.378Z",
        "in_reply_to_id": null, "in_reply_to_account_id": null, "sensitive": false,
        "spoiler_text": "", "visibility": "public", "language": "de", "uri": "https://mastodon.social/users/halcy/statuses/110446183735368325",
        "url": "https://mastodon.social/@halcy/110446183735368325", "replies_count":
        0, "reblogs_count": 0, "favourites_count": 0, "quotes_count": 0, "edited_at":
        "2023-05-28T12:21:32.698Z", "favourited": false, "reblogged": false, "muted":
        false, "bookmarked": false, "pinned": false, "content": "<p>test?</p>", "filtered":
        [], "reblog": null, "application": {"name": "Web", "website": null}, "account":
        {"id": "43", "username": "halcy", "acct": "halcy", "display_name": "autumnal
        halcy", "locked": true, "bot": false, "discoverable": false, "indexable":
        false, "group": false, "created_at": "2016-03-21T00:00:00.000Z", "note": "<p><a
        href=\"https://halcy.de/\" target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span
        class=\"invisible\">https://</span><span class=\"\">halcy.de/</span><span
        class=\"invisible\"></span></a> ~ [...]
