interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://icosahedron.website/api/v2/notifications?expand_accounts=partial_avatars
  response:
    body:
      string: '{"accounts": [{"id": "109665056562732687", "username": "jedimb", "acct":
        "jedimb@mastodon.gamedev.place", "display_name": "J M Berntson", "locked":
        false, "bot": false, "discoverable": true, "indexable": true, "group": false,
        "created_at": "2023-01-08T00:00:00.000Z", "note": "<p>Swedish \ud83c\uddf8\ud83c\uddea
        coder who graduated as a .NET developer in May of 2024. Back on the job search
        grind since April 9, 2025. Planning to do some game projects in my free time
        eventually...</p>", "url": "https://mastodon.gamedev.place/@jedimb", "uri":
        "https://mastodon.gamedev.place/users/jedimb", "avatar": "https://icosahedron.website/system/cache/accounts/avatars/109/665/056/562/732/687/original/576b47d6eb2e6b76.png",
        "avatar_static": "https://icosahedron.website/system/cache/accounts/avatars/109/665/056/562/732/687/original/576b47d6eb2e6b76.png",
        "header": "https://icosahedron.website/system/cache/accounts/headers/109/665/056/562/732/687/original/91096e4c2a011c4b.png",
        "header_static": "https://icosahedron.website/system/cache/accounts/headers/109/665/056/562/732/687/original/91096e4c2a011c4b.png",
        "followers_count": 127, "following_count": 141, "statuses_count": 3619, "last_status_at":
        "2025-08-13", "hide_collections": false, "emojis": [], "fields": [{"name":
        "Pronouns", "value": "she/her, they/them", "verified_at": null}, {"name":
        "Playing \ud83c\udfae", "value": "Metroid Prime 2", "verified_at": null},
        {"name": "Watching \ud83d\udcfa", "value": "Snowpiercer", "verified_at": null},
        {"name": "Learning \ud83d\udc69\ud83c\udffb\u200d\ud83c\udf93", "value": "PHP",
        "verified_at": null}]}, {"id": "108228744161153693", "username": "lritter",
        "acct": "lritter@mastodon.gamedev.place", "display_name": "Leonard Ritter",
        "locked": false, "bot": false, "discoverable": false, "indexable": false,
        "group": false, "created_at": "2022-04-25T00:00:00.000Z", "note": "<p>Arts,
        Maths &amp; Metaprogramming; Game Developer at <span class=\"h-card\" translate=\"no\"><a
        href=\"https://mastodon.gamedev.place/@duangle\" class=\"u-url mention\" rel=\"nofollow
        noopener\" target=\"_blank\">@<span>duangle</span></a></span>. paniq in the
        demoscene. Building Tukan, a procedural game engine, maintaining Scopes &amp;
        gently going NowHere. (he/him, they/them)</p><p>I mostly write in English,
        rarely in German.</p><p>Migrated from <span class=\"h-card\" translate=\"no\"><a
        href=\"https://ma[...]
