interactions:
- request:
    body: scope=read+write+follow+push&client_id=DUMMY&client_secret=DUMMY&grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/oauth/token
  response:
    body:
      string: '{"access_token": "DUMMY", "token_type": "Bearer", "scope": "read write
        follow push", "created_at": 1687629761}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e45198d725ce26b757f4f73374cc0514"
    status:
      code: 200
      message: OK
- request:
    body: username=halcy&password=secret&email=invalid+email+lol&locale=en&return_detailed_error=1&client_id=DUMMY&client_secret=DUMMY
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/accounts
  response:
    body:
      string: '{"error": "Validation failed: E-mail address is invalid, Password is
        too short (minimum is 8 characters), Username has already been taken, E-mail
        address is invalid, E-mail address uses a disallowed e-mail provider, Service
        agreement must be accepted", "details": {"email": [{"error": "ERR_INVALID",
        "description": "is invalid"}, {"error": "ERR_INVALID", "description": "is
        invalid"}, {"error": "ERR_BLOCKED", "description": "uses a disallowed e-mail
        provider"}], "password": [{"error": "ERR_TOO_SHORT", "description": "is too
        short (minimum is 8 characters)"}], "username": [{"error": "ERR_TAKEN", "description":
        "has already been taken"}], "agreement": [{"error": "ERR_ACCEPTED", "description":
        "must be accepted"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '3'
      x-ratelimit-reset:
      - '2025-02-14T16:00:00.513184Z'
    status:
      code: 422
      message: Unknown Error
version: 1
