interactions:
- request:
    body: '{"id": [2]}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://icosahedron.website/api/v1/accounts/familiar_followers
  response:
    body:
      string: '[{"id": "2", "accounts": [{"id": "255", "username": "ekvin", "acct":
        "ekvin", "display_name": "ekvin", "locked": false, "bot": false, "discoverable":
        true, "indexable": false, "group": false, "created_at": "2017-02-15T00:00:00.000Z",
        "note": "<p>1/6th of DQN.  &gt;&gt;1 is my friend.</p>", "url": "https://icosahedron.website/@ekvin",
        "uri": "https://icosahedron.website/users/ekvin", "avatar": "https://icosahedron.website/system/accounts/avatars/000/000/255/original/0b20396fed6a0faf.gif",
        "avatar_static": "https://icosahedron.website/system/accounts/avatars/000/000/255/static/0b20396fed6a0faf.png",
        "header": "https://icosahedron.website/system/accounts/headers/000/000/255/original/09b3f747515cb077.png",
        "header_static": "https://icosahedron.website/system/accounts/headers/000/000/255/original/09b3f747515cb077.png",
        "followers_count": 32, "following_count": 46, "statuses_count": 3007, "last_status_at":
        "2026-03-16", "hide_collections": false, "noindex": false, "emojis": [], "roles":
        [], "fields": [{"name": "Pronouns", "value": "Sport/Champ/Hon", "verified_at":
        null}, {"name": "IPA", "value": "/\u02c8\u025bkv\u026an/", "verified_at":
        null}, {"name": "Tripcode", "value": "!ekvinNiYa", "verified_at": null}]}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"01773e292c9fd601d3b93f71360afe4e"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '297'
      x-ratelimit-reset:
      - '2026-04-11T23:15:00.228398Z'
    status:
      code: 200
      message: OK
version: 1
