interactions:
- request:
    body: subscription%5Bendpoint%5D=http%3A%2F%2Fhalcy.de&subscription%5Bkeys%5D%5Bp256dh%5D=BCXTFibRXmdj5VyS2DwttWEUYPEvN%2F0g4gBm2StWCFynleiRsWLlf0FtD5ExANQ9%2B4Vj9N6croxQmMpH%2FuJHHh8%3D&subscription%5Bkeys%5D%5Bauth%5D=CPhOwcOLuHbKKD9iTflkaA%3D%3D&policy=all&data%5Balerts%5D%5Bfollow%5D=1
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/push/subscription
  response:
    body:
      string: '{"id": 22887210, "endpoint": "http://halcy.de", "standard": false,
        "alerts": {"follow": true}, "server_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "policy": "all"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1af1bedcb2048d45bd8ca041dddf32e4"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '280'
      x-ratelimit-reset:
      - '2025-02-14T15:40:00.181689Z'
    status:
      code: 200
      message: OK
version: 1
