interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110446983926957470/context
  response:
    body:
      string: '{"ancestors": [{"id": "110446983178245440", "created_at": "2023-05-28T15:20:18.907Z",
        "in_reply_to_id": null, "in_reply_to_account_id": null, "sensitive": false,
        "spoiler_text": "", "visibility": "private", "language": "de", "uri": "https://mastodon.social/users/halcy/statuses/110446983178245440",
        "url": "https://mastodon.social/@halcy/110446983178245440", "replies_count":
        0, "reblogs_count": 0, "favourites_count": 0, "edited_at": null, "favourited":
        false, "reblogged": false, "muted": false, "bookmarked": false, "pinned":
        false, "content": "<p>first status</p>", "filtered": [], "reblog": null, "application":
        {"name": "Web", "website": null}, "account": {"id": "43", "username": "halcy",
        "acct": "halcy", "display_name": "autumnal halcy", "locked": true, "bot":
        false, "discoverable": false, "indexable": false, "group": false, "created_at":
        "2016-03-21T00:00:00.000Z", "note": "<p><a href=\"https://halcy.de/\" target=\"_blank\"
        rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a> ~ Local account.</p><p>Now
        also and possibly primarily <span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy\"
        class=\"u-url mention\">@<span>halcy</span></a></span></p>", "url": "https://mastodon.social/@halcy",
        "uri": "https://mastodon.social/users/halcy", "avatar": "https://mastodon.social/avatars/original/missing.png",
        "avatar_static": "https://mastodon.social/avatars/original/missing.png", "header":
        "https://mastodon.social/headers/original/missing.png", "header_static": "https://mastodon.social/headers/original/missing.png",
        "followers_count": 128, "following_count": 33, "statuses_count": 974, "last_status_at":
        "2024-12-03", "hide_collections": false, "noindex": false, "emojis": [{"shortcode":
        "sidekiq", "url": "https://files.mastodon.social/custom_emojis/images/000/037/182/original/7efd7097c1d613e9.png",
        "static_url": "https://files.mastodon.social/custom_emojis/images/000/037/182/static/7efd7097c1d613e9.png",
        "visible_in_picker": true}], "roles": [], "fields": [{"name": "i have a field
        now", "value": ":sidekiq:", "verified_at": null}]}, "media_attachments": [],
        "mentions": [], "tags": [], "emojis": [], "card": null, "poll": null}], "descendants":
        [{"id": "110446984249325790", "created_at": "2023-05-28T15:20:35.248Z", "in_reply_to_id":
        "110446983926957470", "in_reply_to_account_id": "43", "sensitive": false,
        "spoiler_text": "", "visibility": "private", "language": "de", "uri": "https://mastodon.social/users/halcy/statuses/110446984249325790",
        "url": "https://mastodon.social/@halcy/110446984249325790", "replies_count":
        0, "reblogs_count": 0, "favourites_count": 0, "edited_at": null, "favourited":
  [...]
