interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/instance/activity
  response:
    body:
      string: '[{"week": "1762434122", "statuses": "79442", "logins": "35634", "registrations":
        "793"}, {"week": "1761829322", "statuses": "916838", "logins": "142091", "registrations":
        "7921"}, {"week": "1761224522", "statuses": "927316", "logins": "144107",
        "registrations": "8169"}, {"week": "1760619722", "statuses": "949092", "logins":
        "145072", "registrations": "8186"}, {"week": "1760014922", "statuses": "979953",
        "logins": "143591", "registrations": "8683"}, {"week": "1759410122", "statuses":
        "937897", "logins": "145397", "registrations": "9237"}, {"week": "1758805322",
        "statuses": "909998", "logins": "142379", "registrations": "8330"}, {"week":
        "1758200522", "statuses": "935944", "logins": "145625", "registrations": "8984"},
        {"week": "1757595722", "statuses": "932852", "logins": "146848", "registrations":
        "8636"}, {"week": "1756990922", "statuses": "894587", "logins": "141381",
        "registrations": "7870"}, {"week": "1756386122", "statuses": "910795", "logins":
        "144800", "registrations": "10015"}, {"week": "1755781322", "statuses": "904408",
        "logins": "147145", "registrations": "9579"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"70f98cf9b2861f8c1ea323415d4c4edc"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '2025-11-06T14:00:00.514816Z'
    status:
      code: 200
      message: OK
version: 1
