interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110446223051565765/history
  response:
    body:
      string: '[{"content": "<p><span class=\"h-card\"><a href=\"https://icosahedron.website/@halcy\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy</span></a></span>
        you''re a doo-doo head</p>", "spoiler_text": "", "sensitive": false, "created_at":
        "2023-05-28T12:06:50.000Z", "account": {"id": "23972", "username": "halcy",
        "acct": "halcy@icosahedron.website", "display_name": "halcy\u200b :icosahedron:",
        "locked": false, "bot": false, "discoverable": true, "indexable": true, "group":
        false, "created_at": "2017-02-03T00:00:00.000Z", "note": "<p>i am exactly
        like all the other guys.</p><p>ideal for comfortable gameplay in relaxed locations.</p><p>i
        work at, but do not speak for, microsoft.</p>", "url": "https://icosahedron.website/@halcy",
        "uri": "https://icosahedron.website/users/halcy", "avatar": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "header": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "followers_count": 3483, "following_count": 525, "statuses_count": 70985,
        "last_status_at": "2025-11-06", "hide_collections": true, "emojis": [{"shortcode":
        "icosahedron", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/original/e0d448640e549b87.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/static/e0d448640e549b87.png",
        "visible_in_picker": true}], "fields": [{"name": "Web", "value": "<a href=\"https://halcy.de/\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a>", "verified_at":
        "2025-11-06T16:10:44.333+00:00"}, {"name": "Demogroup", "value": "<a href=\"https://demoscene.vc/\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"\">demoscene.vc/</span><span class=\"invisible\"></span></a>", "verified_at":
        null}, {"name": "Pronouns", "value": "He/Him", "verified_at": null}, {"name":
        "Priv", "value": "<span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy2\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy2</span></a></span>",
        "verified_at": null}]}, "media_attachments": [], "emojis": []}, {"content":
        "<p><span class=\"h-card\"><a href=\"https://icosahedron.website/@halcy\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy</span></a></span>
        you''re a doo-doo head</p><p>edit: editing this to have the maximum amount
        of fields filled :trans_heart: <a href=\"https://icosahedron.website/tags/ThisIsAHashtag\"
        class=\"mention hashtag\" rel=\"nofollow noopener\" target=\"_blank\">#<span>ThisIsAHasht[...]
[...]
