interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/accounts/23972
  response:
    body:
      string: '{"id": "23972", "username": "halcy", "acct": "halcy@icosahedron.website",
        "display_name": "halcy\u200b :icosahedron:", "locked": false, "bot": false,
        "discoverable": true, "indexable": true, "group": false, "created_at": "2017-02-03T00:00:00.000Z",
        "note": "<p>i am exactly like all the other guys.</p><p>ideal for comfortable
        gameplay in relaxed locations.</p><p>i work at, but do not speak for, microsoft.</p>",
        "url": "https://icosahedron.website/@halcy", "uri": "https://icosahedron.website/users/halcy",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_description": "", "header": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_description": "", "followers_count": 3553, "following_count": 540,
        "statuses_count": 75076, "last_status_at": "2026-04-11", "hide_collections":
        true, "show_media": true, "show_media_replies": true, "show_featured": true,
        "emojis": [{"shortcode": "icosahedron", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/original/e0d448640e549b87.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/static/e0d448640e549b87.png",
        "visible_in_picker": true}], "fields": [{"name": "Web", "value": "<a href=\"https://halcy.de/\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a>", "verified_at":
        "2026-04-11T12:08:00.687+00:00"}, {"name": "Demogroup", "value": "<a href=\"https://demoscene.vc/\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"\">demoscene.vc/</span><span class=\"invisible\"></span></a>", "verified_at":
        null}, {"name": "Pronouns", "value": "He/Him", "verified_at": null}, {"name":
        "Priv", "value": "<span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy2\"
        class=\"u-url mention\" rel=\"nofollow noopener\" target=\"_blank\">@<span>halcy2</span></a></span>",
        "verified_at": null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2bf0e9bec9284ea17abe0a9c05513a78"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '2026-04-11T23:15:00.746804Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/accounts/verify_credentials
  response:
    body:
      string: '{"id": "43", "username": "halcy", "acct": "halcy", "display_name":
        "autumnal halcy", "locked": true, "bot": false, "discoverable": false, "indexable":
        false, "group": false, "created_at": "2016-03-21T00:00:00.000Z", "note": "<p><a
        href=\"https://halcy.de/\" target=\"_blank\" rel=\[...]
