interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/trends/links
  response:
    body:
      string: '[{"url": "https://www.nbcnews.com/tech/tech-news/openai-ceo-sam-altman-molotov-cocktail-house-headquarters-rcna273694",
        "title": "OpenAI says CEO Sam Altman''s house was targeted with a Molotov
        cocktail", "description": "San Francisco police early Friday arrested a person
        who allegedly threw a Molotov cocktail at OpenAI chief executive Sam Altman''s
        home and made threats outside the AI giant''s San Francisco headquarters,
        the company said in a statement.\"Thankfully, no one was hurt,\" OpenAI said.",
        "language": "en", "type": "link", "author_name": "Daniel Arkin", "author_url":
        "https://www.nbcnews.com/author/daniel-arkin-ncpn1206", "provider_name": "NBC
        News", "provider_url": "", "html": "", "width": 662, "height": 348, "image":
        "https://files.mastodon.social/cache/preview_cards/images/188/760/511/original/82b9508a265bfff8.jpg",
        "image_description": "", "embed_url": "", "blurhash": "UOJ@tUHX?bS4~Vn*EMNZIokCjZa#NHfPt6kC",
        "published_at": "2026-04-10T17:23:39.754Z", "missing_attribution": false,
        "history": [{"day": "1775865600", "accounts": "145", "uses": "146"}, {"day":
        "1775779200", "accounts": "311", "uses": "320"}, {"day": "1775692800", "accounts":
        "0", "uses": "0"}, {"day": "1775606400", "accounts": "0", "uses": "0"}, {"day":
        "1775520000", "accounts": "0", "uses": "0"}, {"day": "1775433600", "accounts":
        "0", "uses": "0"}, {"day": "1775347200", "accounts": "0", "uses": "0"}], "authors":
        [{"name": "Daniel Arkin", "url": "https://www.nbcnews.com/author/daniel-arkin-ncpn1206",
        "account": null}]}, {"url": "https://www.wired.com/story/openai-backs-bill-exempt-ai-firms-model-harm-lawsuits/",
        "title": "OpenAI Backs Bill That Would Limit Liability for AI-Enabled Mass
        Deaths or Financial Disasters", "description": "The ChatGPT-maker testified
        in favor of an Illinois bill that would limit when AI labs can be held liable\u2014even
        in cases where their products cause \u201ccritical harm.\u201d", "language":
        "en", "type": "link", "author_name": "Ma[...]
