interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/notifications/policy
  response:
    body:
      string: '{"for_not_following": "accept", "for_not_followers": "accept", "for_new_accounts":
        "accept", "for_private_mentions": "accept", "for_limited_accounts": "filter",
        "summary": {"pending_requests_count": 0, "pending_notifications_count": 0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"29586df4e9cf1e205686f64eb490e29e"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '245'
      x-ratelimit-reset:
      - '2025-11-06T21:35:00.392308Z'
    status:
      code: 200
      message: OK
version: 1
