interactions:
- request:
    body: subscription%5Bendpoint%5D=http%3A%2F%2Fhalcy.de&subscription%5Bkeys%5D%5Bp256dh%5D=BCBeJeYmdfUDZQttqhlBGSm84dxRtUt68YACFasAvEMfxFZY9z1TVo9rZW5CqVK2ukd%2BIszJVc6Bt3TC4aQ%2BMjo%3D&subscription%5Bkeys%5D%5Bauth%5D=5SPmsHVA3zw3IVcC81vaGA%3D%3D&policy=all&data%5Balerts%5D%5Bfollow%5D=1
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/push/subscription
  response:
    body:
      string: '{"id": 28638485, "endpoint": "http://halcy.de", "standard": false,
        "alerts": {"follow": true}, "server_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "policy": "all"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a2f63c360aa12b04f940dfa0a7fdaeb"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '256'
      x-ratelimit-reset:
      - '2025-11-06T21:35:00.369729Z'
    status:
      code: 200
      message: OK
version: 1
