interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/instance/
  response:
    body:
      string: '{"domain": "mastodon.social", "title": "Mastodon", "version": "4.4.0-nightly.2025-02-07",
        "source_url": "https://github.com/mastodon/mastodon", "description": "The
        original server operated by the Mastodon gGmbH non-profit", "usage": {"users":
        {"active_month": 303515}}, "thumbnail": {"url": "https://files.mastodon.social/site_uploads/files/000/000/001/@1x/57c12f441d083cde.png",
        "blurhash": "UeKUpFxuo~R%0nW;WCnhF6RjaJt757oJodS$", "versions": {"@1x": "https://files.mastodon.social/site_uploads/files/000/000/001/@1x/57c12f441d083cde.png",
        "@2x": "https://files.mastodon.social/site_uploads/files/000/000/001/@2x/57c12f441d083cde.png"}},
        "icon": [{"src": "https://mastodon.social/packs/media/icons/android-chrome-36x36-4c61fdb42936428af85afdbf8c6a45a8.png",
        "size": "36x36"}, {"src": "https://mastodon.social/packs/media/icons/android-chrome-48x48-2027aead76dc906c981043d658a8258d.png",
        "size": "48x48"}, {"src": "https://mastodon.social/packs/media/icons/android-chrome-72x72-799d90b81f5b28cea7355a0c0b356381.png",
        "size": "72x72"}, {"src": "https://mastodon.social/packs/media/icons/android-chrome-96x96-c2dfcfa1268c56e59edddfe20d818b91.png",
        "size": "96x96"}, {"src": "https://mastodon.social/packs/media/icons/android-chrome-144x144-ff3110f7772743bdd0c1c47fb7b2d4e0.png",
        "size": "144x144"}, {"src": "https://mastodon.social/packs/media/icons/android-chrome-192x192-eddc1ed540e97b926202b7b857989d60.png",
        "size": "192x192"}, {"src": "https://mastodon.social/packs/media/icons/android-chrome-256x256-7b2b43926019259f7c9ddee627d80a0f.png",
        "size": "256x256"}, {"src": "https://mastodon.social/packs/media/icons/android-chrome-384x384-72068ed50b02828fc505a8d69b321dea.png",
        "size": "384x384"}, {"src": "https://mastodon.social/packs/media/icons/android-chrome-512x512-ccb53c9fcbb5f61bf741cc54998318f0.png",
        "size": "512x512"}], "languages": ["en"], "configuration": {"urls": {"streaming":
        "wss://streaming.mastodon.social", "status": "https://status.mastodon.social"},
        "vapid": {"public_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M="},
        "accounts": {"max_featured_tags": 10, "max_pinned_statuses": 5}, "statuses":
        {"max_characters": 500, "max_media_attachments": 4, "characters_reserved_per_url":
        23}, "media_attachments": {"description_limit": 1500, "image_matrix_limit":
        33177600, "image_size_limit": 16777216, "supported_mime_types": ["image/jpeg",
        "image/png", "image/gif", "image/heic", "image/heif", "image/webp", "image/avif",
        "video/webm", "video/mp4", "video/quicktime", "video/ogg", "audio/wave", "audio/wav",
        "audio/x-wav", "audio/x-pn-wave", "audio/vnd.wave", "audio/ogg", "audio/vorbis",
        "audio/mpeg", "audio/mp3", "audio/webm", "audio/flac", "audio/aac", "audio/m4a",
        "audio/x-m4a", "audio/mp4", "audio/3gpp", "video/x-ms-asf"], "video_frame_rate_limit":
        120, "video_matrix_limit": 8294400, "video_size_limit": 103809024}, "polls":
        {"max_options": 4, "max_characters_per_option": 50, "min_expiration": 300,
        "max_expiration": 2629746}, "translation": {"enabled": true}}, "registrations":
        {"enabled": true, "approval_required": false, "message": null, "url": null},
        "api_versions": {"mastodon": 3}, "contact": {"email": "staff@mastodon.social",
        "account": {"id": "13179", "username": "Mastodon", "acct": "Mastodon", "display_name":
        "Mastodon", "locked": false, "bot": false, "discoverable": true, "indexable":
        false, "group": false, "created_at": "2016-11-23T00:00:00.000Z", "note": "<p>Free,
        open-source decentralized social media platform.</p>", "url": "https://mastodon.social/@Mastodon",
        "uri": "https://mastodon.social/users/Mastodon", "avatar": "https://files.mastodon.social/accounts/avatars/000/013/179/original/b4ceb19c9c54ec7e.png",
        "avatar_static": "https://files.mastodon.social/accounts/avatars/000/013/179/original/b4ceb19c9c54ec7e.png",
        "header": "https://files.mastodon.social/accounts/headers/000/013/179/original/1375be116fbe0f1d.png",
        "header_static": "https://files.mastodon.social/accounts/headers/000/013/179/original/1375be116fbe0f1d.png",
        "followers_count": 837872, "following_count": 4, "statuses_count": 289, "last_status_at":
        "2025-02-14", "hide_collections": false, "noindex": false, "emojis": [], "roles":
        [], "fields": [{"name": "Homepage", "value": "<a href=\"https://joinmastodon.org\"
        target=\"_blank\" rel=\"nofollow noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">joinmastodon.org</span><span class=\"invisible\"></span></a>",
        "verified_at": "2018-10-31T04:11:00.076+00:00"}, {"name": "Patreon", "value":
        "<a href=\"https://patreon.com/mastodon\" target=\"_blank\" rel=\"nofollow
        noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">patreon.com/mastodon</span><span class=\"invisible\"></span></a>",
        "verified_at": null}, {"name": "GitHub", "value": "<a href=\"https://github.com/mastodon\"
        target=\"_blank\" rel=\"nofollow noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">github.com/mastodon</span><span class=\"invisible\"></span></a>",
        "verified_at": "2023-07-21T13:27:45.996+00:00"}]}}, "rules": [{"id": "1",
        "text": "Sexually explicit or violent media must be marked as sensitive or
        with a content warning", "hint": "This includes content that is particularly
        provocative even if it may not show specific body parts, as well as dead bodies,
        bloody injuries, and other gore. Particularly obscene content may be prohibited
        entirely. Profile pictures and header images may not contain sexually explicit
        or violent media."}, {"id": "2", "text": "No racism, sexism, homophobia, transphobia,
        ableism, xenophobia, or casteism.", "hint": "Transphobic behavior such as
        intenti[...]
