interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110446223051565765/source
  response:
    body:
      string: '{"id": "110446223051565765", "text": "<p><span class=\"h-card\"><a
        href=\"https://icosahedron.website/@halcy\" class=\"u-url mention\">@<span>halcy</span></a></span>
        you&#39;re a doo-doo head</p><p>edit: editing this to have the maximum amount
        of fields filled :trans_heart: <a href=\"https://icosahedron.website/tags/ThisIsAHashtag\"
        class=\"mention hashtag\" rel=\"tag\">#<span>ThisIsAHashtag</span></a></p>",
        "spoiler_text": "test post for mastodon.py stuff"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"66d6ace1b6f1f92aebc4e4760ed2d7a4"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '247'
      x-ratelimit-reset:
      - '2026-04-11T23:15:00.518868Z'
    status:
      code: 200
      message: OK
version: 1
