interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://icosahedron.website/api/v2/notifications?expand_accounts=partial_avatars
  response:
    body:
      string: '{"accounts": [{"id": "108245130277566913", "username": "IceWolf", "acct":
        "IceWolf@masto.brightfur.net", "display_name": "Frost, glow wolf \ud83d\udc3a:therian:",
        "locked": true, "bot": true, "discoverable": false, "indexable": false, "group":
        false, "created_at": "2022-05-04T00:00:00.000Z", "note": "<p>Hi, I''m a wolf!
        Name''s Frost.</p><p>In a head of, umm, a whole bunch of animals! I''m quadrupedal,
        transspecies, autistic, and proud of it. \u2728</p><p>I''m also cis(gender)
        and nonbinary at the same time!</p><p>Partners with <span class=\"h-card\"><a
        href=\"https://masto.brightfur.net/@Ylfingr\" class=\"u-url mention\" rel=\"nofollow
        noopener\" target=\"_blank\">@<span>Ylfingr</span></a></span>. Yes, I''m partners
        with someone in my own head, it''s awesome.</p><p>We''re over 18.<br>\u26a0\ufe0f
        We get lewd sometimes! [It''s CWed.] Also I get vorny on main. :3</p><p>Wir
        lernen Deutsch!</p><p>I''m a wolf. I''m into wolves. Deal with it. \ud83d\udc3a</p>",
        "url": "https://masto.brightfur.net/@IceWolf", "uri": "https://masto.brightfur.net/users/IceWolf",
        "avatar": "https://icosahedron.website/system/cache/accounts/avatars/108/245/130/277/566/913/original/39bea64f7470c783.png",
        "avatar_static": "https://icosahedron.website/system/cache/accounts/avatars/108/245/130/277/566/913/original/39bea64f7470c783.png",
        "header": "https://icosahedron.website/system/cache/accounts/headers/108/245/130/277/566/913/original/fb0d236f453d4e85.png",
        "header_static": "https://icosahedron.website/system/cache/accounts/headers/108/245/130/277/566/913/original/fb0d236f453d4e85.png",
        "followers_count": 171, "following_count": 303, "statuses_count": 95604, "last_status_at":
        "2025-11-06", "hide_collections": true, "emojis": [{"shortcode": "therian",
        "url": "https://icosahedron.website/system/cache/custom_emojis/images/000/191/924/original/0e8f134b8d6f8492.png",
        "static_url": "https://icosahedron.website/system/cache/custom_emojis/images/000/191/924/static/0e8f134b8d6f8492.png",
        "visible_in_picker": true}], "fields": [{"name": "Pronouns", "value": "he/him
        or it [they/them is fine]", "verified_at": null}, {"name": "Gender", "value":
        "Male wolf", "verified_at": null}, {"name": "Human?", "value": "Not a bit.",
        "verified_at": null}, {"name": "Bot?", "value": "Sometimes!", "verified_at":
        null}, {"name": "Website", "value": "<a href=\"https://frost.brightfur.net\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">frost.brightfur.net</span><span class=\"invisible\"></span></a>",
        [...]
