interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/filters
  response:
    body:
      string: '[{"id": "202", "phrase": "animes", "context": ["home"], "whole_word":
        false, "expires_at": null, "irreversible": false}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"57c790beb80237a431ff7945557e5ab3"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '278'
      x-ratelimit-reset:
      - '2025-02-14T15:30:00.285201Z'
    status:
      code: 200
      message: OK
version: 1
