interactions:
- request:
    body: subscription%5Bendpoint%5D=http%3A%2F%2Fhalcy.de&subscription%5Bkeys%5D%5Bp256dh%5D=BEBR3VbpiRiYn2pibVt0k9AvSk6XTGcEXu1Axm3uSie5Te%2FGAO8rGbeqlFkaUGzLsCfCjPl4%2Bminx7mrrxvPT90%3D&subscription%5Bkeys%5D%5Bauth%5D=rNLb4w6wDrB%2BswsgekK1Kg%3D%3D&policy=all&data%5Balerts%5D%5Bfollow%5D=1
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mastodon.social/api/v1/push/subscription
  response:
    body:
      string: '{"id": 33565034, "endpoint": "http://halcy.de", "standard": false,
        "alerts": {"follow": true}, "server_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M=",
        "policy": "all"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2b09a638879da2d6cc17fc7eeff3234f"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '253'
      x-ratelimit-reset:
      - '2026-04-11T14:40:00.623655Z'
    status:
      code: 200
      message: OK
version: 1
