interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/instance/
  response:
    body:
      string: '{"uri": "mastodon.social", "title": "Mastodon", "short_description":
        "The original server operated by the Mastodon gGmbH non-profit", "description":
        "", "email": "staff@mastodon.social", "version": "4.5.0-nightly.2025-08-06-security",
        "urls": {"streaming_api": "wss://streaming.mastodon.social"}, "stats": {"user_count":
        2847139, "status_count": 142391027, "domain_count": 93606}, "thumbnail": "https://files.mastodon.social/site_uploads/files/000/000/001/@1x/57c12f441d083cde.png",
        "languages": ["en"], "registrations": true, "approval_required": false, "invites_enabled":
        true, "configuration": {"accounts": {"max_featured_tags": 10}, "statuses":
        {"max_characters": 500, "max_media_attachments": 4, "characters_reserved_per_url":
        23}, "media_attachments": {"supported_mime_types": ["image/jpeg", "image/png",
        "image/gif", "image/heic", "image/heif", "image/webp", "image/avif", "video/webm",
        "video/mp4", "video/quicktime", "video/ogg", "audio/wave", "audio/wav", "audio/x-wav",
        "audio/x-pn-wave", "audio/vnd.wave", "audio/ogg", "audio/vorbis", "audio/mpeg",
        "audio/mp3", "audio/webm", "audio/flac", "audio/aac", "audio/m4a", "audio/x-m4a",
        "audio/mp4", "audio/3gpp", "video/x-ms-asf"], "image_size_limit": 16777216,
        "image_matrix_limit": 33177600, "video_size_limit": 103809024, "video_frame_rate_limit":
        120, "video_matrix_limit": 8294400}, "polls": {"max_options": 4, "max_characters_per_option":
        50, "min_expiration": 300, "max_expiration": 2629746}}, "contact_account":
        {"id": "13179", "username": "Mastodon", "acct": "Mastodon", "display_name":
        "Mastodon", "locked": false, "bot": false, "discoverable": true, "indexable":
        false, "group": false, "created_at": "2016-11-23T00:00:00.000Z", "note": "<p>A
        free, open-source decentralised social network to connect with your friends
        and others, anywhere.</p>", "url": "https://mastodon.social/@Mastodon", "uri":
        "https://mastodon.social/users/Mastodon", "avatar": "https://files.mastodon.social/accounts/avatars/000/013/179/original/b4ceb19c9c54ec7e.png",
        "avatar_static": "https://files.mastodon.social/accounts/avatars/000/013/179/original/b4ceb19c9c54ec7e.png",
        "header": "https://files.mastodon.social/accounts/headers/000/013/179/original/1375be116fbe0f1d.png",
        "header_static": "https://files.mastodon.social/accounts/headers/000/013/179/original/1375be116fbe0f1d.png",
        "followers_count": 846650, "following_count": 35, "statuses_count": 360, "last_status_at":
        "2025-08-07", "hide_collections": false, "noindex": false, "emojis": [], "roles":
        [], "fields": [{"name": "Homepage", "value": "<a href=\"https://joinmastodon.org\"
        target=\"_blank\" rel=\"nofollow noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">joinmastodon.org</span><span class=\"invisible\"></span></a>",
        "verified_at": "2018-10-31T04:11:00.076+00:00"}, {"name": "Patreon", "value":
        "<a href=\"https://patreon.com/mastodon\" target=\"_blank\" rel=\"nofollow
        noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">patreon.com/mastodon</span><span class=\"invisible\"></span></a>",
        "verified_at": null}, {"name": "GitHub", "value": "<a href=\"https://github.com/mastodon\"
        target=\"_blank\" rel=\"nofollow noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">github.com/mastodon</span><span class=\"invisible\"></span></a>",
        "verified_at": "2023-07-21T13:27:45.996+00:00"}]}, "rules": [{"id": "1", "text":
        "Sexually explicit or violent media must be marked as sensitive or with a
        content warning", "hint": "This includes content that is particularly provocative
        even if it may not show specific body parts, as well as dead bodies, bloody
        injuries, and other gore. Particularly obscene content may be prohibited entirely.
        Profile pictures and header images may not contain sexually explicit or violent
        media.", "translations": {"de": {"text": "Sexuell explizite Darstellungen
        oder solche von Gewalt m\u00fcssen mit einer Inhaltswarnung versehen werden.",
        "hint": "Das beinhaltet ausdr\u00fccklich provokative Inhalte, auch wenn keine
        bestimmten K\u00f6rperteile zu sehen sind, sowie Leichname, blutige Verletzungen
        und vergleichbare extreme Darstellungen. Besonders obsz\u00f6ne Inhalte k\u00f6nnen
        vollst\u00e4ndig verboten werden. Profil- und Titelbilder d\u00fcrfen keine
        sexuell expliziten oder Gewaltdarstellungen abbilden."}, "es": {"text": "El
        contenido sexual expl\u00edcito o violento debe marcarse como sensible o con
        una advertencia de contenido.", "hint": "Esto incluye contenido especialmente
        provocativo, aunque no muestre partes espec\u00edficas del cuerpo, as\u00ed
        como cad\u00e1veres, heridas sangrientas y otras escenas sangrientas. Los
        contenidos especialmente obscenos pueden prohibirse por completo. Las fotos
        de perfil y las im\u00e1genes de cabecera no pueden contener contenido sexual
        expl\u00edcito o violento."}, "fr": {"text": "Le contenu \u00e9rotique, pornographique
        ou violent doit \u00eatre marqu\u00e9 comme sensible ou avoir un avertissement
        de contenu.", "hint": "Cela inclut le contenu particuli\u00e8rement provocateur
        m\u00eame s\u2019il ne montre pas particuli\u00e8rement de parties intimes,
        ainsi que les photos de cadavres, de blessures sanglantes et autres sc\u00e8nes
        d\u00e9rangeantes. Le contenu particuli\u00e8rement obsc\u00e8ne peut \u00eatre
        compl\u00e8tement interdit. Les images de profil et d\u2019en-t\u00eate ne
        doivent pas contenir de contenu sexuellement explicite ou violent."}, "nl":
        {"text": "Seksueel expliciet of gewelddadig beeldmateriaal moet als \u2018gevoelig\u2019
        gemarkeerd worden, of met een inhoudswaarschuwing gemarkeerd.", "hint": "Dit
        omvat ook inhoud die gedeeltelijk aanstootgevend is zelfs als het geen lichaamsdelen
        toont, en ook dode lichamen, bloederige verwondingen en andere gruwelijkheden.
        Zeer obscene inhoud kan helemaal verboden worden. Profielfoto\u2019s en headerafbeeldingen
        mogen geen seksueel expliciete of geweldadige inhoud hebben."}, "ru": {"text":
        "\u0421\u0435\u043a\u0441\u0443\u0430\u043b\u044c\u043d\u043e \u043e\u0442\u043a\u0440\u043e\u0432\u0435\u043d\u043d\u044b\u0435
        \u0438\u043b\u0438 \u0436\u0435\u0441\u0442\u043e\u043a\u0438\u0435 \u0438\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u044f
        \u0438\u043b\u0438 \u0432\u0438\u0434\u0435\u043e \u0434\u043e\u043b\u0436\u043d\u044b
        \u0431\u044b\u0442\u044c \u043f\u043e\u043c\u0435\u0447\u0435\u043d\u044b
        \u043a\u0430\u043a \u0447[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/instance/
  response:
    body:
      string: '{"domain": "mastodon.social", "title": "Mastodon", "version": "4.5.0-nightly.2025-08-06-security",
        "source_url": "https://github.com/mastodon/mastodon", "description": "The
        original server operated by the Mastodon gGmbH non-profit", "usage": {"users":
        {"active_month": 272627}}, "thumbnail": {"url": "https://files.mastodon.social/site_uploads/files/000/000/001/@1x/57c12f441d083cde.png",
        "blurhash": "UeKUpFxuo~R%0nW;WCnhF6RjaJt757oJodS$", "versions": {"@1x": "https://files.mastodon.social/site_uploads/files/000/000/001/@1x/57c12f441d083cde.png",
        "@2x": "https://files.mastodon.social/site_uploads/files/000/000/001/@2x/57c12f441d083cde.png"}},
        "icon": [{"src": "https://mastodon.social/packs/assets/android-chrome-36x36-DLiBQg3N.png",
        "size": "36x36"}, {"src": "https://mastodon.social/packs/assets/android-chrome-48x48-C7lKWFwX.png",
        "size": "48x48"}, {"src": "https://mastodon.social/packs/assets/android-chrome-72x72-9LRpA3QN.png",
        "size": "72x72"}, {"src": "https://mastodon.social/packs/assets/android-chrome-96x96-BKKwkkY-.png",
        "size": "96x96"}, {"src": "https://mastodon.social/packs/assets/android-chrome-144x144-D-ewI-KZ.png",
        "size": "144x144"}, {"src": "https://mastodon.social/packs/assets/android-chrome-192x192-jYKJbpas.png",
        "size": "192x192"}, {"src": "https://mastodon.social/packs/assets/android-chrome-256x256-DXt2vsq7.png",
        "size": "256x256"}, {"src": "https://mastodon.social/packs/assets/android-chrome-384x384-CbK7cG33.png",
        "size": "384x384"}, {"src": "https://mastodon.social/packs/assets/android-chrome-512x512-Dz2ThkhV.png",
        "size": "512x512"}], "languages": ["en"], "configuration": {"urls": {"streaming":
        "wss://streaming.mastodon.social", "status": "https://status.mastodon.social",
        "about": "https://mastodon.social/about", "privacy_policy": "https://mastodon.social/privacy-policy",
        "terms_of_service": null}, "vapid": {"public_key": "BCk-QqERU0q-CfYZjcuB6lnyyOYfJ2AifKqfeGIm7Z-HiTU5T9eTG5GxVA0_OH5mMlI4UkkDTpaZwozy0TzdZ2M="},
        "accounts": {"max_featured_tags": 10, "max_pinned_statuses": 5}, "statuses":
        {"max_characters": 500, "max_media_attachments": 4, "characters_reserved_per_url":
        23}, "media_attachments": {"description_limit": 1500, "image_matrix_limit":
        33177600, "image_size_limit": 16777216, "supported_mime_types": ["image/jpeg",
        "image/png", "image/gif", "image/heic", "image/heif", "image/webp", "image/avif",
        "video/webm", "video/mp4", "video/quicktime", "video/ogg", "audio/wave", "audio/wav",
        "audio/x-wav", "audio/x-pn-wave", "audio/vnd.wave", "audio/ogg", "audio/vorbis",
        "audio/mpeg", "audio/mp3", "audio/webm", "audio/flac", "audio/aac", "audio/m4a",
        "audio/x-m4a", "audio/mp4", "audio/3gpp", "video/x-ms-asf"], "video_frame_rate_limit":
        120, "video_matrix_limit": 8294400, "video_size_limit": 103809024}, "polls":
        {"max_options": 4, "max_characters_per_option": 50, "min_expiration": 300,
        "max_expiration": 2629746}, "translation": {"enabled": true}, "limited_federation":
        false}, "registrations": {"enabled": true, "approval_required": false, "reason_required":
        false, "message": null, "min_age": 16, "url": null}, "api_versions": {"mastodon":
        6}, "contact": {"email": "staff@mastodon.social", "account": {"id": "13179",
        "username": "Mastodon", "acct": "Mastodon", "display_name": "Mastodon", "locked":
        false, "bot": false, "discoverable": true, "indexable": false, "group": false,
        "created_at": "2016-11-23T00:00:00.000Z", "note": "<p>A free, open-source
        decentralised social network to connect with your friends and others, anywhere.</p>",
        "url": "https://mastodon.social/@Mastodon", "uri": "https://mastodon.social/users/Mastodon",
        "avatar": "https://fi[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/search?exclude_unreviewed=1&q=halcy&resolve=1
  response:
    body:
      string: '{"accounts": [{"id": "23972", "username": "halcy", "acct": "halcy@icosahedron.website",
        "display_name": "halcy\u200b :icosahedron:", "locked": false, "bot": false,
        "discoverable": true, "indexable": true, "group": false, "created_at": "2017-02-03T00:00:00.000Z",
        "note": "<p>build. your. squid.</p><p>ideal for comfortable gameplay in relaxed
        locations.</p><p>i work at, but do not speak for, microsoft.</p>", "url":
        "https://icosahedron.website/@halcy", "uri": "https://icosahedron.website/users/halcy",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/000/023/972/original/9c900052b7f670db.jpg",
        "header": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "header_static": "https://files.mastodon.social/cache/accounts/headers/000/023/972/original/e5c0d647464517c2.png",
        "followers_count": 3421, "following_count": 519, "statuses_count": 68354,
        "last_status_at": "2025-08-16", "hide_collections": true, "emojis": [{"shortcode":
        "icosahedron", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/original/e0d448640e549b87.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/002/116/static/e0d448640e549b87.png",
        "visible_in_picker": true}], "fields": [{"name": "Web", "value": "<a href=\"https://halcy.de/\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a>", "verified_at":
        "2025-08-16T00:29:54.764+00:00"}, {"name": "Demogroup", "value": "<a href=\"https://demoscene.vc/\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span>[...]
