interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/instance/
  response:
    body:
      string: '{"uri": "mastodon.social", "title": "Mastodon", "short_description":
        "The original server operated by the Mastodon gGmbH non-profit", "description":
        "", "email": "staff@mastodon.social", "version": "4.4.0-nightly.2025-02-07",
        "urls": {"streaming_api": "wss://streaming.mastodon.social"}, "stats": {"user_count":
        2521730, "status_count": 120134081, "domain_count": 81757}, "thumbnail": "https://files.mastodon.social/site_uploads/files/000/000/001/@1x/57c12f441d083cde.png",
        "languages": ["en"], "registrations": true, "approval_required": false, "invites_enabled":
        true, "configuration": {"accounts": {"max_featured_tags": 10}, "statuses":
        {"max_characters": 500, "max_media_attachments": 4, "characters_reserved_per_url":
        23}, "media_attachments": {"supported_mime_types": ["image/jpeg", "image/png",
        "image/gif", "image/heic", "image/heif", "image/webp", "image/avif", "video/webm",
        "video/mp4", "video/quicktime", "video/ogg", "audio/wave", "audio/wav", "audio/x-wav",
        "audio/x-pn-wave", "audio/vnd.wave", "audio/ogg", "audio/vorbis", "audio/mpeg",
        "audio/mp3", "audio/webm", "audio/flac", "audio/aac", "audio/m4a", "audio/x-m4a",
        "audio/mp4", "audio/3gpp", "video/x-ms-asf"], "image_size_limit": 16777216,
        "image_matrix_limit": 33177600, "video_size_limit": 103809024, "video_frame_rate_limit":
        120, "video_matrix_limit": 8294400}, "polls": {"max_options": 4, "max_characters_per_option":
        50, "min_expiration": 300, "max_expiration": 2629746}}, "contact_account":
        {"id": "13179", "username": "Mastodon", "acct": "Mastodon", "display_name":
        "Mastodon", "locked": false, "bot": false, "discoverable": true, "indexable":
        false, "group": false, "created_at": "2016-11-23T00:00:00.000Z", "note": "<p>Free,
        open-source decentralized social media platform.</p>", "url": "https://mastodon.social/@Mastodon",
        "uri": "https://mastodon.social/users/Mastodon", "avatar": "https://files.mastodon.social/accounts/avatars/000/013/179/original/b4ceb19c9c54ec7e.png",
        "avatar_static": "https://files.mastodon.social/accounts/avatars/000/013/179/original/b4ceb19c9c54ec7e.png",
        "header": "https://files.mastodon.social/accounts/headers/000/013/179/original/1375be116fbe0f1d.png",
        "header_static": "https://files.mastodon.social/accounts/headers/000/013/179/original/1375be116fbe0f1d.png",
        "followers_count": 837814, "following_count": 4, "statuses_count": 289, "last_status_at":
        "2025-02-14", "hide_collections": false, "noindex": false, "emojis": [], "roles":
        [], "fields": [{"name": "Homepage", "value": "<a href=\"https://joinmastodon.org\"
        target=\"_blank\" rel=\"nofollow noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">joinmastodon.org</span><span class=\"invisible\"></span></a>",
        "verified_at": "2018-10-31T04:11:00.076+00:00"}, {"name": "Patreon", "value":
        "<a href=\"https://patreon.com/mastodon\" target=\"_blank\" rel=\"nofollow
        noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">patreon.com/mastodon</span><span class=\"invisible\"></span></a>",
        "verified_at": null}, {"name": "GitHub", "value": "<a href=\"https://github.com/mastodon\"
        target=\"_blank\" rel=\"nofollow noopener me\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">github.com/mastodon</span><span class=\"invisible\"></span></a>",
        "verified_at": "2023-07-21T13:27:45.996+00:00"}]}, "rules": [{"id": "1", "text":
        "Sexually explicit or violent media must be marked as sensitive or with a
        content warning", "hint": "This includes content that is particularly provocative
        even if it may not show specific body parts, as well as dead bodies, bloody
        injuries, and other gore. Particularly obscene content may be prohibited entirely.
        Profile pictures and header images may not contain sexually explicit or violent
        media."}, {"id": "2", "text": "No racism, sexism, homophobia, transphobia,
        ableism, xenophobia, or casteism.", "hint": "Transphobic behavior such as
        intenti[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110447098625216345
  response:
    body:
      string: '{"id": "110447098625216345", "created_at": "2023-05-28T15:49:40.490Z",
        "in_reply_to_id": null, "in_reply_to_account_id": null, "sensitive": false,
        "spoiler_text": "", "visibility": "private", "language": "de", "uri": "https://mastodon.social/users/halcy/statuses/110447098625216345",
        "url": "https://mastodon.social/@halcy/110447098625216345", "replies_count":
        0, "reblogs_count": 0, "favourites_count": 0, "edited_at": null, "favourited":
        false, "reblogged": false, "muted": false, "bookmarked": false, "pinned":
        false, "content": "<p><a href=\"https://soundcloud.com/wakarangirl/popstars-dj-wakaran-girl-khard-bass-flex-1\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"ellipsis\">soundcloud.com/wakarangirl/pop</span><span class=\"invisible\">stars-dj-wakaran-girl-khard-bass-flex-1</span></a>
        link to soundcloud that should generate a card</p>", "filtered": [], "reblog":
        null, "application": {"name": "Web", "website": null}, "account": {"id": "43",
        "username": "halcy", "acct": "halcy", "display_name": "autumnal halcy", "locked":
        true, "bot": false, "discoverable": false, "indexable": false, "group": false,
        "created_at": "2016-03-21T00:00:00.000Z", "note": "<p><a href=\"https://halcy.de/\"
        target=\"_blank\" rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a> ~ Local account.</p><p>Now
        also and possibly primarily <span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy\"
        class=\"u-url mention\">@<span>halcy</span></a></span></p>", "url": "https://mastodon.social/@halcy",
        "uri": "https://mastodon.social/users/halcy", "avatar": "https://mastodon.social/avatars/original/missing.png",
        "avatar_static": "https://mastodon.social/avatars/original/missing.png", "header":
        "https://mastodon.social/headers/original/missing.png", "header_static": "https://mastodon.social/headers/original/missing.png",
        "followers_count": 128, "following_count": 33, "statuses_count": 974, "last_status_at":
        "2024-12-03", "hide_collections": false, "noindex": false, "emojis": [{"shortcode":
        "sidekiq", "url": "https://files.mastodon.social/custom_emojis/images/000/037/182/original/7efd7097c1d613e9.png",
        "static_url": "https://files.mastodon.social/custom_emojis/images/000/037/182/static/7efd7097c1d613e9.png",
        "visible_in_picker": true}], "roles": [], "fields": [{"name": "i have a field
        now", "value": ":sidekiq:", "verified_at": null}]}, "media_attachments": [],
        "mentions": [], "tags": [], "emojis": [], "card": {"url": "https://soundcloud.com/wakarangirl/popstars-dj-wakaran-girl-khard-bass-flex-1",
        "title": "K/DA - POP/STARS (DJ WAKARAN GIRL \u0425\u0430\u0440\u0434 \u0411\u0430\u0441\u0441
        FLEX)", "description": "\u2190\u3053\u3053\u3059\u304d\nmayolazrbeam.at.gmail.dot.com\n@mayolazr\n@yaminomayore
        ''s rival\n@commonjellyproject member\n1/2 of @officialpegi18", "language":
        "en", "type": "video", "author_name": "", "author_url": "", "provider_name":
        "SoundCloud", "provider_url": "", "html": "<iframe src=\"https://w.soundcloud.com/player/?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F550191177&amp;auto_play=false&amp;show_artwork=true&amp;visual=true&amp;origin=twitter\"
        width=\"435\" height=\"400\" allowfullscreen=\"allowfullscreen\" scrolling=\"no\"
        frameborder=\"0\" sandbox=\"allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox
        allow-forms\"></iframe>", "width": 435, "height": 400, "image": null, "image_description":
        "", "embed_url": "", "blurhash": "UW9aqApHXSjI-to~X4ogn6V@W.t8bbaKWVbE", "published_at":
        null, "authors": []}, "poll": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4c05b27dc43eed3150dfda9ac80354d8"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '297'
      x-ratelimit-reset:
      - '2025-02-14T16:25:00.705673Z'
    status:
      code: 200
      message: OK
version: 1
