interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/instance/activity
  response:
    body:
      string: '[{"week": "1755235677", "statuses": "28125", "logins": "12554", "registrations":
        "317"}, {"week": "1754630877", "statuses": "903124", "logins": "141724", "registrations":
        "10473"}, {"week": "1754026077", "statuses": "897052", "logins": "146285",
        "registrations": "10366"}, {"week": "1753421277", "statuses": "903574", "logins":
        "147444", "registrations": "11258"}, {"week": "1752816477", "statuses": "904980",
        "logins": "146175", "registrations": "9735"}, {"week": "1752211677", "statuses":
        "915755", "logins": "143369", "registrations": "9240"}, {"week": "1751606877",
        "statuses": "899029", "logins": "146998", "registrations": "9643"}, {"week":
        "1751002077", "statuses": "914116", "logins": "149179", "registrations": "9302"},
        {"week": "1750397277", "statuses": "912717", "logins": "153366", "registrations":
        "9286"}, {"week": "1749792477", "statuses": "936916", "logins": "156799",
        "registrations": "8230"}, {"week": "1749187677", "statuses": "937373", "logins":
        "154064", "registrations": "9404"}, {"week": "1748582877", "statuses": "913719",
        "logins": "151833", "registrations": "9205"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d66b74c2590fa9e934d57357326b6d4d"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '2025-08-15T17:30:00.097168Z'
    status:
      code: 200
      message: OK
version: 1
