interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/statuses/110447001287656894
  response:
    body:
      string: '{"id": "110447001287656894", "created_at": "2023-05-28T15:24:55.235Z",
        "in_reply_to_id": null, "in_reply_to_account_id": null, "sensitive": false,
        "spoiler_text": "", "visibility": "private", "language": "de", "uri": "https://mastodon.social/users/halcy/statuses/110447001287656894",
        "url": "https://mastodon.social/@halcy/110447001287656894", "replies_count":
        0, "reblogs_count": 0, "favourites_count": 0, "edited_at": null, "favourited":
        false, "reblogged": false, "muted": false, "bookmarked": false, "pinned":
        false, "content": "<p>video post</p>", "filtered": [], "reblog": null, "application":
        {"name": "Web", "website": null}, "account": {"id": "43", "username": "halcy",
        "acct": "halcy", "display_name": "autumnal halcy", "locked": true, "bot":
        false, "discoverable": false, "indexable": false, "group": false, "created_at":
        "2016-03-21T00:00:00.000Z", "note": "<p><a href=\"https://halcy.de/\" target=\"_blank\"
        rel=\"nofollow noopener\" translate=\"no\"><span class=\"invisible\">https://</span><span
        class=\"\">halcy.de/</span><span class=\"invisible\"></span></a> ~ Local account.</p><p>Now
        also and possibly primarily <span class=\"h-card\" translate=\"no\"><a href=\"https://icosahedron.website/@halcy\"
        class=\"u-url mention\">@<span>halcy</span></a></span></p>", "url": "https://mastodon.social/@halcy",
        "uri": "https://mastodon.social/users/halcy", "avatar": "https://mastodon.social/avatars/original/missing.png",
        "avatar_static": "https://mastodon.social/avatars/original/missing.png", "header":
        "https://mastodon.social/headers/original/missing.png", "header_static": "https://mastodon.social/headers/original/missing.png",
        "followers_count": 128, "following_count": 33, "statuses_count": 974, "last_status_at":
        "2024-12-03", "hide_collections": false, "noindex": false, "emojis": [{"shortcode":
        "sidekiq", "url": "https://files.mastodon.social/custom_emojis/images/000/037/182/original/7efd7097c1d613e9.png",
        "static_url": "https://files.mastodon.social/custom_emojis/images/000/037/182/static/7efd7097c1d613e9.png",
        "visible_in_picker": true}], "roles": [], "fields": [{"name": "i have a field
        now", "value": ":sidekiq:", "verified_at": null}]}, "media_attachments": [{"id":
        "110446998744903560", "type": "video", "url": "https://files.mastodon.social/media_attachments/files/110/446/998/744/903/560/original/de8b837b9615a35c.mp4",
        "preview_url": "https://files.mastodon.social/media_attachments/thumbnails/110/446/998/744/903/560/original/e3e301df52746ea9.png",
        "remote_url": null, "preview_remote_url": null, "text_url": null, "meta":
        {"focus": {"x": 0.0, "y": 0.0}, "colors": {"background": "#2e384f", "foreground":
        "#ccc1c8", "accent": "#d4c102"}, "original": {"width": 950, "height": 950,
        "frame_rate": "60/1", "duration": 10.032, "bitrate": 3209303}, "small": {"width":
        640, "height": 360, "size": "640x360", "aspect": 1.7777777777777777}}, "description":
        "bae hololive gangnam style", "blurhash": "URD0DoD#4m^,bKNKNGxWNFxaxtIpRjs:s:WC"}],
        "mentions": [], "tags": [], "emojis": [], "card": null, "poll": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"58be90d6378de76c52a5ed7babc85120"
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '2025-02-14T17:10:00.680549Z'
    status:
      code: 200
      message: OK
[...]
