interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v2/suggestions
  response:
    body:
      string: '[{"source": "global", "sources": ["most_followed", "most_interactions"],
        "account": {"id": "109742206677653822", "username": "stroughtonsmith", "acct":
        "stroughtonsmith", "display_name": "Steve Troughton-Smith", "locked": false,
        "bot": false, "discoverable": true, "indexable": true, "group": false, "created_at":
        "2023-01-24T00:00:00.000Z", "note": "<p>App developer &amp; mini painter.
        I make apps and break things.</p><p>UIKit. Swift. Gaming. Warhammer. Generative
        AI. Husband. \ud83c\udff3\ufe0f\u200d\ud83c\udf08 He/him.</p>", "url": "https://mastodon.social/@stroughtonsmith",
        "uri": "https://mastodon.social/users/stroughtonsmith", "avatar": "https://files.mastodon.social/accounts/avatars/109/742/206/677/653/822/original/cf30d22950290178.jpeg",
        "avatar_static": "https://files.mastodon.social/accounts/avatars/109/742/206/677/653/822/original/cf30d22950290178.jpeg",
        "header": "https://files.mastodon.social/accounts/headers/109/742/206/677/653/822/original/e250c5e001942295.jpeg",
        "header_static": "https://files.mastodon.social/accounts/headers/109/742/206/677/653/822/original/e250c5e001942295.jpeg",
        "followers_count": 32545, "following_count": 508, "statuses_count": 13176,
        "last_status_at": "2025-11-06", "hide_collections": false, "noindex": false,
        "emojis": [], "roles": [], "fields": [{"name": "Web", "value": "<a href=\"https://www.highcaffeinecontent.com/\"
        target=\"_blank\" rel=\"nofollow noopener me\" translate=\"no\"><span class=\"invisible\">https://www.</span><span
        class=\"\">highcaffeinecontent.com/</span><span class=\"invisible\"></span></a>",
        "verified_at": "2023-10-14T04:24:15.262+00:00"}, {"name": "Patreon", "value":
        "<a href=\"https://www.patreon.com/steventroughtonsmith\" target=\"_blank\"
        rel=\"nofollow noopener me\" translate=\"no\"><span class=\"invisible\">https://www.</span><span
        class=\"ellipsis\">patreon.com/steventroughtonsmi</span><span class=\"invisible\">th</span></a>",
        "verified_at": null}, {"name": "GitHub", "value": "<a href=\"https://github.com/steventroughtonsmith\"
        target=\"_blank\" rel=[...]
