interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://icosahedron.website/api/v1/announcements
  response:
    body:
      string: '[{"id": "33", "content": "<p>We have upgraded to 4.3, requiring a lot
        of fiddling about and fixes to the default theme and such. Please report any
        weird behavior and/or suggested theme tweaks, more than usual.</p><p>The captive
        links patch is still missing - will be applied when done.</p>", "starts_at":
        null, "ends_at": null, "all_day": false, "published_at": "2024-10-20T00:32:45.838Z",
        "updated_at": "2024-10-20T00:32:45.862Z", "read": true, "mentions": [], "statuses":
        [], "tags": [], "emojis": [], "reactions": [{"name": "aeonguns", "count":
        6, "me": false, "url": "https://icosahedron.website/system/custom_emojis/images/000/004/218/original/aeon.png",
        "static_url": "https://icosahedron.website/system/custom_emojis/images/000/004/218/static/aeon.png"},
        {"name": "\u2728", "count": 15, "me": false}, {"name": "icosan_hug", "count":
        2, "me": false, "url": "https://icosahedron.website/system/custom_emojis/images/000/070/421/original/d5f71d439d6cde42.png",
        "static_url": "https://icosahedron.website/system/custom_emojis/images/000/070/421/static/d5f71d439d6cde42.png"},
        {"name": "icosan_hearteyes", "count": 1, "me": false, "url": "https://icosahedron.website/system/custom_emojis/images/000/081/576/original/57fae3b6f3acee09.png",
        "static_url": "https://icosahedron.website/system/custom_emojis/images/000/081/576/static/57fae3b6f3acee09.png"},
        {"name": "\ud83c\udfc6", "count": 1, "me": false}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"6281ba3b5b6a229637dd6da4598f9595"
      X-RateLimit-Limit:
      - '300'
      X-RateLimit-Remaining:
      - '299'
      X-RateLimit-Reset:
      - '2025-02-14T15:40:00.001238Z'
    status:
      code: 200
      message: OK
version: 1
