interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/notifications
  response:
    body:
      string: '[{"id": "324083905", "type": "follow_request", "created_at": "2024-10-05T19:11:59.367Z",
        "group_key": "ungrouped-324083905", "account": {"id": "1151812", "username":
        "carlosceballos", "acct": "carlosceballos@fosstodon.org", "display_name":
        "Carlos Ceballos :fediverse:", "locked": true, "bot": false, "discoverable":
        false, "indexable": false, "group": false, "created_at": "2020-02-24T00:00:00.000Z",
        "note": "<p>In FOSS We Trust</p>", "url": "https://fosstodon.org/@carlosceballos",
        "uri": "https://fosstodon.org/users/carlosceballos", "avatar": "https://files.mastodon.social/cache/accounts/avatars/001/151/812/original/53ed887d9b7461a0.jpg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/001/151/812/original/53ed887d9b7461a0.jpg",
        "header": "https://mastodon.social/headers/original/missing.png", "header_static":
        "https://mastodon.social/headers/original/missing.png", "followers_count":
        84, "following_count": 1410, "statuses_count": 59, "last_status_at": "2024-11-18",
        "hide_collections": true, "emojis": [{"shortcode": "fediverse", "url": "https://files.mastodon.social/cache/custom_emojis/images/000/349/974/original/dec5bd846438f70e.png",
        "static_url": "https://files.mastodon.social/cache/custom_emojis/images/000/349/974/static/dec5bd846438f70e.png",
        "visible_in_picker": true}], "fields": []}}, {"id": "303630641", "type": "follow_request",
        "created_at": "2024-08-10T01:02:19.883Z", "group_key": "ungrouped-303630641",
        "account": {"id": "112933766526148206", "username": "tdf", "acct": "tdf@flipboard.com",
        "display_name": "The Daily Fediverse", "locked": false, "bot": false, "discoverable":
        true, "indexable": true, "group": false, "created_at": "2024-08-07T00:00:00.000Z",
        "note": "<p>This is an account to help flipboard users discover important
        people in the fediverse whose opinions matter  .... called tdf for \"The Daily
        Fediverse\" as I look daily for interesting things. For more details, see
        this blog post <a href=\"https://flipboard.team/the-kitchen-sink/what-is-tdf-and-why-is-it-following-me\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"><span class=\"invisible\">https://</span><span
        class=\"ellipsis\">flipboard.team/the-kitchen-sin</span><span class=\"invisible\">k/what-is-tdf-and-why-is-it-following-me
        </span></a></p>", "url": "https://flipboard.com/@tdf", "uri": "https://flipboard.com/users/tdf",
        "avatar": "https://files.mastodon.social/cache/accounts/avatars/112/933/766/526/148/206/original/ff4859697d56baef.jpeg",
        "avatar_static": "https://files.mastodon.social/cache/accounts/avatars/112/933/766/526[...]
