interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://mastodon.social/api/v1/notifications
  response:
    body:
      string: '[{"id": "550622655", "type": "mention", "created_at": "2026-04-11T16:55:10.452Z",
        "group_key": "ungrouped-550622655", "account": {"id": "109446733121874654",
        "username": "latencyobs", "acct": "latencyobs@icosahedron.website", "display_name":
        "Latency Observer", "locked": false, "bot": false, "discoverable": false,
        "indexable": false, "group": false, "created_at": "2022-12-02T00:00:00.000Z",
        "note": "", "url": "https://icosahedron.website/@latencyobs", "uri": "https://icosahedron.website/users/latencyobs",
        "avatar": "https://mastodon.social/avatars/original/missing.png", "avatar_static":
        "https://mastodon.social/avatars/original/missing.png", "avatar_description":
        "", "header": "https://mastodon.social/headers/original/missing.png", "header_static":
        "https://mastodon.social/headers/original/missing.png", "header_description":
        "", "followers_count": 0, "following_count": 0, "statuses_count": 0, "last_status_at":
        null, "hide_collections": false, "show_media": true, "show_media_replies":
        true, "show_featured": true, "emojis": [], "fields": []}, "status": null},
        {"id": "550455231", "type": "mention", "created_at": "2026-04-11T08:01:42.375Z",
        "group_key": "ungrouped-550455231", "account": {"id": "109446733121874654",
        "username": "latencyobs", "acct": "latencyobs@icosahedron.website", "display_name":
        "Latency Observer", "locked": false, "bot": false, "discoverable": false,
        "indexable": false, "group": false, "created_at": "2022-12-02T00:00:00.000Z",
        "note": "", "url": "https://icosahedron.website/@la[...]
